<template>
  <section id="page-account-settings">
    <div class="card">
      <div class="card-content">
        <div class="card-header row">
          <div class="col-6">
            <h2 class="content-header-title float-left mb-0 mr-2">
              Edit Partner
            </h2>
          </div>
          <div class="col-6">
            <div class="float-right">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <nuxt-link to="/admin">Home</nuxt-link>
                </li>
                <li class="breadcrumb-item">
                  <nuxt-link to="/admin/partner">Partners</nuxt-link>
                </li>
                <li class="breadcrumb-item active">Edit</li>
              </ol>
            </div>
          </div>
        </div>
        <hr />
        <div class="card-body">
          <section id="basic-datatable">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body pt-0">
                      <form @submit.prevent="updatePartner">
                        <p class="text-muted">Partner Details</p>
                        <div class="row">
                          <div class="col-4">
                            <div class="form-group">
                              <div class="controls">
                                <label for="Partner-name"
                                  >Partner Name (max: 100 characters)</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                  
                                  v-model="form.name"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <div class="controls">
                                <label for="company-username"
                                  >Partner Username</label
                                >
                                <input
                                  type="text"
                                  class="form-control"
                                   
                                  v-model="form.username"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <div class="controls">
                                <label for="email">E-mail</label>
                                <input
                                  type="email"
                                  class="form-control"
                                   
                                  v-model="form.email"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company">Phone Number</label>
                              <input
                                type="number"
                                class="form-control"
                                 
                                v-model="form.phone"
                              />
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company"
                                >Office Phone Number</label
                              >
                              <input
                                type="number"
                                class="form-control"
                                 
                                v-model="form.businessPhone"
                              />
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company"
                                >Business PIC Name</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                 
                                v-model="form.businessContactName"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company">Total Branch</label>
                              <input
                                type="number"
                                class="form-control"
                                 
                                v-model="form.totalBranch"
                              />
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company">Minimal Amount for P2P Transfer</label>
                              <input
                                type="number"
                                class="form-control"
                                required
                                v-model="form.minAmountP2P"
                              />
                            </div>
                          </div>
                           <div class="col-4">
                            <div class="form-group">
                              <label for="account-company">Maximal Amount for P2P Transfer</label>
                              <input
                                type="number"
                                class="form-control"
                                required
                                v-model="form.maxAmountP2P"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company">Minimal Amount for Bank Transfer</label>
                              <input
                                type="number"
                                class="form-control"
                                required
                                v-model="form.minAmountBankTrf"
                              />
                            </div>
                          </div>
                           <div class="col-4">
                            <div class="form-group">
                              <label for="account-company">Maximal Amount for Bank Transfer</label>
                              <input
                                type="number"
                                class="form-control"
                                required
                                v-model="form.maxAmountBankTrf"
                              />
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company">Header Token</label>
                              <input
                                type="text"
                                class="form-control"
                                required
                                v-model="form.headerToken"
                              />
                            </div>
                          </div>
                        </div>
                        <!-- PARTNER KEY -->
                        <div class="row">
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company"
                              >Partner Key*</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                v-model="form.partnerKey"
                              />
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company"
                              >URL Random Number</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                v-model="form.urlRandomNumber"
                              />
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company"></label>
                              <fieldset class="checkbox">
                                <div
                                  class="vs-checkbox-con vs-checkbox-primary"
                                >
                                  <input type="checkbox" v-model="form.tax" />
                                  <span class="vs-checkbox">
                                    <span class="vs-checkbox--check">
                                      <i class="vs-icon feather icon-check"></i>
                                    </span>
                                  </span>
                                  <span class>Activate Cutting Tax</span>
                                </div>
                              </fieldset>
                            </div>
                          </div>
                        </div>
                        

                       

                        <!-- ADDRESS -->
                        <p class="text-muted mt-3">Address</p>
                        <div class="row">
                          <div class="col-4">
                            <div class="form-group">
                              <div class="controls">
                                <label for="account-e-mail">Country</label>
                                <v-select
                                  class="v-select-control"
                                  label="name"
                                  :options="countries"
                                  v-model="country_selected"
                                  @input="getProvinces"
                                ></v-select>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company">Province</label>
                              <v-select
                                class="v-select-control"
                                label="name"
                                :options="provinces"
                                v-model="province_selected"
                                @input="getCities"
                              ></v-select>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company">City</label>
                              <v-select
                                class="v-select-control"
                                label="name"
                                :options="cities"
                                v-model="city_selected"
                                @input="getDistricts"
                              ></v-select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company">District</label>
                              <v-select
                                class="v-select-control"
                                label="name"
                                :options="districts"
                                v-model="district_selected"
                                @input="getSubDistricts"
                              ></v-select>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company">Sub District</label>
                              <v-select
                                class="v-select-control"
                                label="name"
                                :options="sub_districts"
                                v-model="sub_district_selected"
                              ></v-select>
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company">Postal Code</label>
                              <input
                                type="number"
                                class="form-control"
                                 
                                v-model="form.zipCode"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <label for="account-company">Address</label>
                              <textarea
                                class="form-control"
                                rows="2"
                                v-model="form.address"
                                @keyup="onChangeAddress"
                              ></textarea>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12">
                            <div ref="map" id="map" class="mb-3"></div>
                          </div>
                        </div>

                        <!-- DOCUMENT -->
                        <p class="text-muted mt-3">Document</p>
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <label for="account-company"
                                >Proof of Address (Photo of partner location
                                address / front view office)</label
                              >
                              <input
                                type="file"
                                class="form-control"
                                data-max-size="1048576"
                                accept="image/jpeg,image/png,application/pdf"
                                :ref="doc_individual[0].name"
                                @change="upload(doc_individual[0].name)"
                                 
                              />
                              <a
                                v-if="form.docPhotoFrontOffice"
                                :href="form.docPhotoFrontOffice"
                                target="_blank"
                                class="d-block mt-1"
                                >see document</a
                              >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="account-e-mail"
                                  >Bank Account Number</label
                                >
                                <input
                                  type="number"
                                  class="form-control"
                                   
                                  v-model="form.bankAccountNumber"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="account-company"
                                >Photo / copy of Bank Account</label
                              >
                              <input
                                type="file"
                                class="form-control"
                                data-max-size="1048576"
                                accept="image/jpeg,image/png,application/pdf"
                                :ref="doc_individual[1].name"
                                @change="upload(doc_individual[1].name)"
                                 
                              />
                              <a
                                v-if="form.docBankAccount"
                                :href="form.docBankAccount"
                                target="_blank"
                                class="d-block mt-1"
                                >see document</a
                              >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="account-e-mail">NPWP Number</label>
                                <input
                                  type="number"
                                  class="form-control"
                                   
                                  v-model="form.noNPWP"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="account-company"
                                >Photo / copy of NPWP</label
                              >
                              <input
                                type="file"
                                class="form-control"
                                data-max-size="1048576"
                                accept="image/jpeg,image/png,application/pdf"
                                :ref="doc_individual[2].name"
                                @change="upload(doc_individual[2].name)"
                                 
                              />
                              <a
                                v-if="form.docNPWP"
                                :href="form.docNPWP"
                                target="_blank"
                                class="d-block mt-1"
                                >see document</a
                              >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="account-e-mail"
                                  >Owner / Director ID Card</label
                                >
                                <input
                                  type="number"
                                  class="form-control"
                                   
                                  v-model="form.noKTPDirector"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="account-company"
                                >Photo / copy of Owner ID Card</label
                              >
                              <input
                                type="file"
                                class="form-control"
                                data-max-size="1048576"
                                accept="image/jpeg,image/png,application/pdf"
                                :ref="doc_individual[6].name"
                                @change="upload(doc_individual[6].name)"
                                 
                              />
                              <a
                                v-if="form.docKTPDirector"
                                :href="form.docKTPDirector"
                                target="_blank"
                                class="d-block mt-1"
                                >see document</a
                              >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="account-e-mail"
                                  >Manager ID Card</label
                                >
                                <input
                                  type="number"
                                  class="form-control"
                                   
                                  v-model="form.noKTPManager"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="account-company"
                                >Photo / copy of Manager ID Card</label
                              >
                              <input
                                type="file"
                                class="form-control"
                                data-max-size="1048576"
                                accept="image/jpeg,image/png,application/pdf"
                                :ref="doc_individual[5].name"
                                @change="upload(doc_individual[5].name)"
                                 
                              />
                              <a
                                v-if="form.docKTPManager"
                                :href="form.docKTPManager"
                                target="_blank"
                                class="d-block mt-1"
                                >see document</a
                              >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="account-e-mail"
                                  >Operator ID Card</label
                                >
                                <input
                                  type="number"
                                  class="form-control"
                                   
                                  v-model="form.noKTPOperator"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="account-company"
                                >Photo / copy Operator ID Card</label
                              >
                              <input
                                type="file"
                                class="form-control"
                                data-max-size="1048576"
                                accept="image/jpeg,image/png,application/pdf"
                                :ref="doc_individual[4].name"
                                @change="upload(doc_individual[4].name)"
                                 
                              />
                              <a
                                v-if="form.docKTPOperator"
                                :href="form.docKTPOperator"
                                target="_blank"
                                class="d-block mt-1"
                                >see document</a
                              >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="account-e-mail">SITU Numbers</label>
                                <input
                                  type="number"
                                  class="form-control"
                                   
                                  v-model="form.noSITU"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="account-company"
                                >Photo / copy of SITU</label
                              >
                              <input
                                type="file"
                                class="form-control"
                                data-max-size="1048576"
                                accept="image/jpeg,image/png,application/pdf"
                                :ref="doc_individual[3].name"
                                @change="upload(doc_individual[3].name)"
                                 
                              />
                              <a
                                v-if="form.docSITU"
                                :href="form.docSITU"
                                target="_blank"
                                class="d-block mt-1"
                                >see document</a
                              >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                              <div class="form-group">
                                <div class="controls">
                                  <label for="account-e-mail"
                                    >Deed of Incorporation Number</label
                                  >
                                  <input
                                    type="number"
                                    class="form-control"
                                     
                                    v-model="form.noAkta"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group">
                                <label for="account-company"
                                  >Photo / copy of Deed of Incorporation</label
                                >
                                <input
                                  type="file"
                                  class="form-control"
                                  data-max-size="1048576"
                                  accept="image/jpeg,image/png,application/pdf"
                                  data-type="business"
                                  :ref="doc_business[1].name"
                                  @change="upload(doc_business[1].name)"
                                   
                                />
                                 <a
                                v-if="form.docAktaPendirian"
                                :href="form.docAktaPendirian"
                                target="_blank"
                                class="d-block mt-1"
                                >see document</a
                              >
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <div class="form-group">
                                <div class="controls">
                                  <label for="account-e-mail">TDP Number</label>
                                  <input
                                    type="number"
                                    class="form-control"
                                     
                                    v-model="form.noTDP"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group">
                                <label for="account-company"
                                  >Photo / copy of TDP</label
                                >
                                <input
                                  type="file"
                                  class="form-control"
                                  data-max-size="1048576"
                                  accept="image/jpeg,image/png,application/pdf"
                                  data-type="business"
                                  :ref="doc_business[0].name"
                                  @change="upload(doc_business[0].name)"
                                   
                                />
                                 <a
                                v-if="form.docTDP"
                                :href="form.docTDP"
                                target="_blank"
                                class="d-block mt-1"
                                >see document</a>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-6">
                              <div class="form-group">
                                <div class="controls">
                                  <label for="account-e-mail"
                                    >SIUP Number</label
                                  >
                                  <input
                                    type="number"
                                    class="form-control"
                                     
                                    v-model="form.noSIUP"
                                  />
                                  
                                </div>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group">
                                <label for="account-company"
                                  >Photo / copy of SIUP</label
                                >
                                <input
                                  type="file"
                                  class="form-control"
                                  data-max-size="1048576"
                                  accept="image/jpeg,image/png,application/pdf"
                                  data-type="business"
                                  :ref="doc_business[2].name"
                                  @change="upload(doc_business[2].name)"
                                   
                                />
                                 <a
                                v-if="form.docSIUP"
                                :href="form.docSIUP"
                                target="_blank"
                                class="d-block mt-1"
                                >see document</a>
                              </div>
                            </div>
                          </div>

                        
                         <!-- KASPRO INFORMATION -->
                        <p class="text-muted mt-3">KasPro Detail Information</p>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <label for="account-company"
                              >Account Number</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                required
                                v-model="form.accountNumber"
                              />
                            </div>
                          </div>
                          <!-- <div class="col-6">
                            <div class="form-group">
                              <label for="account-company">Partner Token</label>
                              <input
                                type="text"
                                class="form-control"
                                required
                                v-model="form.partnerToken"
                              />
                            </div>
                          </div> -->
                        </div>
                        <div 
                        v-for="(item, i) in form.pocket"
                        :key="`${i}-${item}`"
                        class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="account-e-mail">Pocket Name</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  required
                                  v-model="form.pocket[i].pocketName"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-5">
                            <div class="form-group">
                              <label for="account-company">Pocket Id</label>
                              <input
                                type="text"
                                class="form-control"
                                required
                                v-model="form.pocket[i].pocketId"
                              />
                            </div>
                          </div>
                          <div class="col-1">
                            <fieldset class="form-group">
                              <label></label>
                              <a
                                href=""
                                @click.prevent="
                                  form.pocket.splice(i, 1)
                                "
                                class="btn btn-outline-danger"
                              >
                                <i class="feather icon-trash"></i>
                              </a>
                            </fieldset>
                          </div>
                        </div>
                        <div class="text-right">
                          <a href="" @click.prevent="addPocket">
                            <i class="feather icon-plus"></i> Add Pocket</a
                          >                        </div>

                         <!-- BILLER PARTNER -->
                        <p class="text-muted mt-2">Biller Partner ID</p>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <label for="account-company"
                              >Partner ID*</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                v-model="form.billerPartnerId"
                              />
                            </div>
                          </div>
                        </div>

                       

                        <!-- TRANSFER LIMIT -->
                        <p class="text-muted mt-3">Transfer Limit</p>
                        <div class="row">
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company"
                                >Minimal Amount for Bank Transfer</label
                              >
                              <input
                                type="number"
                                class="form-control"
                                required
                                v-model="form.minAmountBankTrf"
                              />
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company"
                                >Maximal Amount for Bank Transfer</label
                              >
                              <input
                                type="number"
                                class="form-control"
                                required
                                v-model="form.maxAmountBankTrf"
                              />
                            </div>
                          </div>
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company"
                                >Maximal Amount for P2P Transfer</label
                              >
                              <input
                                type="number"
                                class="form-control"
                                required
                                v-model="form.maxAmountP2P"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-4">
                            <div class="form-group">
                              <label for="account-company"
                                >Minimal Amount for P2P Transfer</label
                              >
                              <input
                                type="number"
                                class="form-control"
                                v-model="form.minAmountP2P"
                              />
                            </div>
                          </div>
                        </div>


                        <!-- CALLBACK URL -->
                        <p class="text-muted mt-2">Callback Function</p>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <label for="account-company"
                              >Partner Upgrade Premium Callback*</label
                              >
                              <input
                                type="text"
                                class="form-control"
                               
                                v-model="form.upgradePremiumCallback"
                              />
                            </div>
                          </div>
                         <div class="col-6">
                            <div class="form-group">
                              <label for="account-company"
                              >Partner Biller Callback*</label
                              >
                              <input
                                type="text"
                                class="form-control"
                               
                                v-model="form.billerCallback"
                              />
                            </div>
                          </div>
                        </div>
            

                        
                        <div
                          class="d-flex flex-sm-row flex-column align-items-center justify-content-between"
                        >
                          <p class="text-warning" v-if="uploading_files">
                            Uploading files...
                          </p>
                          <p v-else></p>
                          <div>
                            <button
                              type="submit"
                              class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                            >
                              <span v-if="!loading">UPDATE PARTNER</span>
                              <span
                                v-else
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                              ></span>
                            </button>
                            <button
                              type="reset"
                              class="btn btn-outline-warning"
                              @click.prevent="cancel()"
                            >
                              Cancel
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { debounce } from "lodash";

const apiKey = process.env.GOOGLE_MAPS_API_KEY;

export default {
  data() {
    return {
      is_business_entity: false,
      countries: [],
      provinces: [],
      cities: [],
      districts: [],
      sub_districts: [],
      country_selected: {},
      province_selected: {},
      district_selected: { id: 1 },
      sub_district_selected: { id: 1 },
      city_selected: {},
      uploading_files: false,
      doc_individual: [
        { name: "docPhotoFrontOffice", url: "" },
        { name: "docBankAccount", url: "" },
        { name: "docNPWP", url: "" },
        { name: "docSITU", url: "" },
        { name: "docKTPOperator", url: "" },
        { name: "docKTPManager", url: "" },
        { name: "docKTPDirector", url: "" }
      ],
      doc_business: [
        { name: "docTDP", url: "" },
        { name: "docAktaPendirian", url: "" },
        { name: "docSIUP", url: "" }
      ],
      form: {
        name: "",
        username: "",
        email: "",
        phone: "",
        businessPhone: "",
        businessContactName: "",
        bankAccountName: "",
        bankAccountNumber: "",
        totalBranch: 0,
        tax: false,
        zipCode: "",
        noTDP: "",
        noNPWP: "",
        noAkta: "",
        noSITU: "",
        noSIUP: "",
        noKTPOperator: "",
        noKTPManager: "",
        noKTPDirector: "",
        address: "",
        CountryId: 1,
        ProvinceId: 1,
        CityId: 1,
        lat: "",
        long: "",
        docPhotoFrontOffice: "",
        docBankAccount: "",
        docNPWP: "",
        docTDP: "",
        docAktaPendirian: "",
        docSITU: "",
        docSIUP: "",
        docKTPOperator: "",
        docKTPManager: "",
        docKTPDirector: "",
        accountNumber: "",
        pocketId: "",
        pocketName: "",
        partnerToken: "",
        minAmountP2P: 0,
        maxAmountP2P: 0,
        minAmountBankTrf: 0,
        maxAmountBankTrf: 0,
        callbackUrl: "",
        pocket: [],
        billerPartnerId: "",
        partnerKey: "",
        upgradePremiumCallback: "",
        billerCallback: "",
        headerToken: "",
        urlRandomNumber: "",
      },
      map: {},
      mapMarkers: [],
      id: this.$route.params.id
    };
  },
  computed: {
    ...mapState(["loading"])
  },
  methods: {
    cancel() {
      this.$router.push("/admin/partner_management/partner");
    },
    async getPartner() {
      const partner = await this.$api.partner.getDetail(this.id);
      this.form.accountNumber = partner.accountNumber;
      this.form.billerPartnerId = partner.billerPartnerId;
      this.form.email = partner.email;
      this.form.username = partner.username;
      this.form.name = partner.name;
      this.form.pocketId = partner.pocketId;
      this.form.pocketName = partner.pocketName;
      this.form.phone = partner.mobilenumber;
      this.form.noNPWP = partner.npwp;
      this.form.noTDP = partner.nomorTDP;
      this.form.noAkta = partner.nomorAkta;
      this.form.noSITU = partner.nomorSITU;
      this.form.noSIUP = partner.nomorSIUP;
      this.form.noKTPOperator = partner.nomorKTPOperator;
      this.form.noKTPManager = partner.nomorKTPPengelola;
      this.form.noKTPDirector = partner.nomorKTPPemilik;
      this.form.bankAccountNumber = partner.nomorRekeningBank;
      this.form.businessContactName = partner.namaPICBisnis;
      this.form.businessPhone = partner.nomorTeleponKantor;
      this.form.address = partner.address;
      this.sub_district_selected.id = partner.areaId;
      this.district_selected.id = partner.subUrbanId;
      this.city_selected.id = partner.cityId;
      this.province_selected.id = partner.provinceId;
      this.country_selected.id = partner.countryId;
      const latLong = partner.coordinates.split(",");
      this.form.lat = latLong[0];
      this.form.long = latLong[1];
      this.form.zipCode = partner.postalCode;
      this.form.totalBranch = partner.jumlahBranch;
      this.form.docPhotoFrontOffice = partner.fotoTempatUsaha;
      this.form.docBankAccount = partner.fotoRekening;
      this.form.docNPWP = partner.fotoNPWP;
      this.form.docTDP = partner.fotoTDP;
      this.form.docAktaPendirian = partner.fotoAktaPendirian;
      this.form.docSITU = partner.fotoSITU;
      this.form.docSIUP = partner.fotoSIUP;
      this.form.docKTPOperator = partner.fotoKTPOperator;
      this.form.docKTPManager = partner.fotoKTPPengelola;
      this.form.docKTPDirector = partner.fotoKTPPemilik;
      this.form.tax = partner.tax;
      this.form.partnerToken = partner.partnerToken;
      this.form.minAmountP2P = partner.minAmountP2P;
      this.form.maxAmountP2P = partner.maxAmountP2P;
      this.form.minAmountBankTrf = partner.minAmountBankTrf;
      this.form.maxAmountBankTrf = partner.maxAmountBankTrf;
      this.form.callbackUrl = partner.callbackUrl;
      this.form.pocket = partner.pocket? partner.pocket : [];
      this.form.partnerKey = partner.partnerKey;
      this.form.urlRandomNumber = partner.urlRandomNumber;
      this.form.billerPartnerId = partner.billerPartnerId;
      this.form.upgradePremiumCallback = partner.upgradePremiumCallback;
      this.form.billerCallback = partner.billerCallback;
      this.form.headerToken = partner.headerToken;
      
    },
    async updatePartner() {
      this.form.CountryId = this.country_selected.id;
      this.form.ProvinceId = this.province_selected.id;
      this.form.CityId = this.city_selected.id;
      this.$store.commit("SET_LOADING", true);
      try {
        const params = {
          accountNumber: this.form.accountNumber,
          email: this.form.email,
          username: this.form.username,
          password: "default",
          name: this.form.name,
          mobilenumber: this.form.phone,
          npwp: this.form.noNPWP,
          nomorTDP: this.form.noTDP,
          nomorAkta: this.form.noAkta,
          nomorSITU: this.form.noSITU,
          nomorSIUP: this.form.noSIUP,
          nomorKTPOperator: this.form.noKTPOperator,
          nomorKTPPengelola: this.form.noKTPManager,
          nomorKTPPemilik: this.form.noKTPDirector,
          nomorRekeningBank: this.form.bankAccountNumber,
          namaPICBisnis: this.form.businessContactName,
          nomorTeleponKantor: this.form.businessPhone,
          address: this.form.address,
          areaId: this.sub_district_selected.id,
          subUrbanId: this.district_selected.id,
          cityId: this.city_selected.id,
          provinceId: this.province_selected.id,
          countryId: this.country_selected.id,
          coordinates: `${this.form.lat} , ${this.form.long}`,
          postalCode: this.form.zipCode,
          jumlahBranch: this.form.totalBranch,
          fotoTempatUsaha: this.form.docPhotoFrontOffice,
          fotoRekening: this.form.docBankAccount,
          fotoNPWP: this.form.docNPWP,
          fotoTDP: this.form.docTDP,
          fotoAktaPendirian: this.form.docAktaPendirian,
          fotoSITU: this.form.docSITU,
          fotoSIUP: this.form.docSIUP,
          fotoKTPOperator: this.form.docKTPOperator,
          fotoKTPPengelola: this.form.docKTPManager,
          fotoKTPPemilik: this.form.docKTPDirector,
          tax: this.form.tax,
          partnerToken: this.form.partnerToken,
          minAmountP2P: this.form.minAmountP2P,
          maxAmountP2P: this.form.maxAmountP2P,
          minAmountBankTrf: this.form.minAmountBankTrf,
          maxAmountBankTrf: this.form.maxAmountBankTrf,
          callbackUrl: this.form.callbackUrl,
          pocket: this.form.pocket,
          billerPartnerId: this.form.billerPartnerId,
          partnerKey: this.form.partnerKey,
          urlRandomNumber: this.form.urlRandomNumber,
          upgradePremiumCallback:  this.form.upgradePremiumCallback,
          billerCallback: this.form.billerCallback,
          headerToken: this.form.headerToken,
        };
        const response = await this.$api.partner.updatePartner(this.id, params);
        this.$swal(
          `<h4 class="text-weight-bold">1 Partner has been changed!</h4>`,
          "",
          "success"
        );
        this.$router.push("/admin/partner_management/partner");
      } catch (error) {
        console.error(error);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    addPocket() {
      this.form.pocket.push({
       pocketId: '',
       pocketName: '',
      });
    },
    async upload(ref) {
      const input = this.$refs[ref];
      const max_size = parseInt(input.getAttribute("data-max-size"));
      const file_size = input.files[0].size;

      if (file_size > max_size) {
        const err_max_size = document.createElement("P");
        err_max_size.innerHTML = `${
          input.files[0].name
        } is too big. Max size: ${max_size / (1024 * 1024)}MB`;
        err_max_size.classList.add("mt-1", "text-danger");
        input.parentNode.appendChild(err_max_size);
        this.form[ref] = "";
        input.value = "";
      } else {
        const dir = "companies";
        let formData = new FormData();

        formData.append("file", input.files[0]);
        formData.append("dir", dir);

        try {
          const response = await this.$api.utils.upload(formData);
          this.form[ref] = response.downloadPathUrl;
        } catch (error) {
          console.log(error);
        }
      }
    },
    async getCountries() {
      try {
        const response = await this.$api.partner.countries();
        this.countries = response;
        this.country_selected = response.find(
          c => c.id == this.country_selected.id
        );
      } catch (error) {
        console.error(error);
      }
    },
    async getProvinces() {
      try {
        const response = await this.$api.partner.provinces(
          this.country_selected.id
        );
        this.provinces = response;
        this.province_selected = response.find(
          c => c.id == this.province_selected.id
        );
      } catch (error) {
        console.error(error);
      }
    },
    async getDistricts() {
      try {
        const response = await this.$api.partner.districts(
          this.city_selected.id
        );
        this.districts = response;
        this.district_selected = response.find(
          c => c.id == this.district_selected.id
        );
      } catch (error) {
        console.error(error);
      }
    },
    async getSubDistricts() {
      try {
        const response = await this.$api.partner.villages(
          this.district_selected.id
        );
        this.sub_districts = response;
        this.sub_district_selected = response.find(
          c => c.id == this.sub_district_selected.id
        );
      } catch (error) {
        console.error(error);
      }
    },
    async getCities() {
      try {
        const response = await this.$api.partner.cities(
          this.province_selected.id
        );
        this.cities = response;
        this.city_selected = response.find(c => c.id == this.city_selected.id);
      } catch (error) {
        console.error(error);
      }
    },
    initMap() {
      this.map = new google.maps.Map(this.$refs.map, {
        zoom: 15,
        center: {
          lat: -6.2,
          lng: 106.816666
        },
        streetViewControl: false,
        fullscreenControl: false
      });
    },
    geocodeAddress(map) {
      const vm = this;
      const geocoder = new google.maps.Geocoder();
      const address =
        this.form.address +
        " " +
        this.form.zipCode +
        " " +
        this.city_selected.name +
        " " +
        this.province_selected.name +
        " " +
        this.country_selected.name;

      vm.mapMarkers.forEach(marker => marker.setMap(null));

      geocoder.geocode(
        {
          address
        },
        (results, status) => {
          if (status === "OK") {
            map.setCenter(results[0].geometry.location);
            const marker = new google.maps.Marker({
              map,
              draggable: true,
              animation: google.maps.Animation.DROP,
              position: results[0].geometry.location
            });

            vm.mapMarkers.push(marker);

            var address_components = results[0].address_components;
            if (
              address_components[address_components.length - 1].types[0] ==
              "postal_code"
            ) {
              var zipcode =
                address_components[address_components.length - 1].long_name;
              vm.form.zipCode = zipcode;
            }

            vm.setLatLng(marker.position.lat(), marker.position.lng());

            google.maps.event.addListener(marker, "dragend", function() {
              vm.setLatLng(marker.position.lat(), marker.position.lng());
              vm.geocodePosition(marker.getPosition());
            });
          } else {
            console.log(
              "Geocode was not successful for the following reason: " + status
            );
          }
        }
      );
    },
    setLatLng(lat, lng) {
      this.form.lat = lat.toString();
      this.form.long = lng.toString();
    },
    geocodePosition(pos) {
      let geocoder = new google.maps.Geocoder();
      const vm = this;

      geocoder.geocode(
        {
          latLng: pos
        },
        function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var address_components = results[0].address_components;
            if (
              address_components[address_components.length - 1].types[0] ==
              "postal_code"
            ) {
              var zipcode =
                address_components[address_components.length - 1].long_name;
              vm.form.zipCode = zipcode;
            }

            vm.form.address = results[0].formatted_address;
          } else {
            console.log("Cannot determine address at this location." + status);
          }
        }
      );
    },
    onChangeAddress: debounce(function() {
      this.geocodeAddress(this.map);
    }, 1000),
    async onMapsAPILoaded() {
      await this.getPartner();
      await this.getCountries();
      await this.getProvinces();
      await this.getCities();
      await this.getDistricts();
      await this.getSubDistricts();
      this.initMap();
    }
  },
  mounted() {
    this.getPartner();
    if (!process.server) {
      const script = document.createElement("script");
      script.onload = this.onMapsAPILoaded;
      script.type = "text/javascript";
      script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}`;

      let isExist =
        document.querySelectorAll(`head script[src="${script.src}"]`).length >
        0;
      if (!isExist) document.head.appendChild(script);
      else this.onMapsAPILoaded();
    } else {
      this.onMapsAPILoaded();
    }
  },
  components: {
    vSelect
  }
};
</script>

<style>
#map {
  height: 300px;
}
</style>
