<template>
  <section id="page-account-settings">
    <div v-if="loading" class="text-center my-4">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <br /><br />
        Retrieving data...
      </div>
    <div v-else class="card">
      <div class="card-header">
        <div class="card-title">
          Report
        </div>
        <div class="float-right">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <nuxt-link to="/">
                Dashboard
              </nuxt-link>
            </li>
            <li class="breadcrumb-item active">
              Transactions
            </li>
          </ol>
        </div>
      </div>
      <hr />
      <div class="card-body pt-0">
        <div v-if="listTrx && listTrx.length">
          <div class="row my-0">
            <div class="col-2 mb-2">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-danger"
                  @click="handleGenereatePdf"
                >
                  Export PDF
                </button>
                <button
                  type="button"
                  class="btn btn-success"
                  @click="handleExportFile"
                >
                  Export XLSX
                </button>
              </div>
            </div>

            <!-- <span>Transactions Type: </span> -->

            <div class="col-2 mb-2">
              <div class=" form-group">
                <div class="controls">
                  <v-select
                    class="v-select-control"
                    label="name"
                    :options="trxType"
                    v-model="filter.type"
                  ></v-select>
                </div>
              </div>
            </div>

            <!-- <span>Partner Name: </span> -->

            <div class="col-2 mb-2">
              <div class=" form-group">
                <div class="controls">
                  <input
                    type="text"
                    class="form-control"
                    v-model="filter.partnerName"
                    placeholder="Partner Name"
                  />
                </div>
              </div>
            </div>

            <!-- <span>Partner Account Number: </span> -->

            <div class="col-2 mb-2">
              <div class=" form-group">
                <div class="controls">
                  <input
                    type="text"
                    class="form-control"
                    v-model="filter.partner"
                    placeholder="Partner Account Number"
                  />
                </div>
              </div>
            </div>

            <!-- <span>Recipient: </span> -->

            <div class="col-2 mb-2">
              <div class=" form-group">
                <div class="controls">
                  <input
                    type="text"
                    class="form-control"
                    v-model="filter.origin"
                    placeholder="Recipient"
                  />
                </div>
              </div>
            </div>

            <!-- <span>Sender: </span> -->

            <div class="col-2 mb-2">
              <div class=" form-group">
                <div class="controls">
                  <input
                    type="text"
                    class="form-control"
                    v-model="filter.destination"
                    placeholder="Sender"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row my-0">
            <div class="col-12 d-flex align-items-center justify-content-end">
              <button
                @click="getData()"
                type="submit"
                class="btn btn-primary mr-sm-1 mb-1 mb-sm-0 ml-1"
              >
                <span v-if="!loading">Search</span>
                <span
                  v-else
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>
            </div>
          </div>
          <div class="table-responsive my-2">
            <table class="table table-striped dataex-html5-selectors">
              <thead>
                <tr>
                  <th>Partner Name - Account Number</th>
                  <th>Time</th>
                  <th>Type</th>
                  <th>Sender</th>
                  <th>Recipient</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Retrieval Number</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(row, index) in listTrx"
                  :key="`transaction-${index}`"
                >
                  <td>
                    {{ row.partnerName || " " }} - {{ row.partner || " " }}
                  </td>
                  <td>{{ (row.createdAt || "") | formattedDateTime }}</td>
                  <td>{{ getType(row.type) }}</td>
                  <td>{{ row.origin || "-" }}</td>
                  <td>{{ row.destination || "-" }}</td>
                  <td>{{ getAmountTrx(row) | formattedNumber }}</td>
                  <td>
                    {{
                      row.extra && row.extra.message ? row.extra.message : "-"
                    }}
                  </td>
                  <td>{{ row.retrievalReference || "-" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div
          v-if="!listTrx.length"
          class="text-center my-2"
        >
          <p>no data found..</p>
        </div>
        <!-- Start Pagination Section -->
        <div
          class="d-flex align-items-center justify-content-between"
          v-if="!loading && listTrx.length > 0">
          <p>
            Show
            <strong>{{ pagination.totalCurrentData }}</strong>
            transactions from
            <strong>{{ pagination.totalData }}</strong> transactions
          </p>
          <nav>
            <ul class="pagination justify-content-center mt-2">
              <li class="page-item prev-item">
                <a
                  class="page-link"
                  :class="{ disabled: !pagination.prev }"
                  @click.prevent="goToPage(pagination.prev)"
                  href="#"
                ></a>
              </li>
              <li
                class="page-item"
                v-if="parseInt(pagination.currentPage) - 2 > 0"
              >
                <a
                  class="page-link"
                  href="#"
                  @click.prevent="
                    goToPage(parseInt(pagination.currentPage) - 2)
                  "
                >
                  {{ parseInt(pagination.currentPage) - 2 }}</a
                >
              </li>
              <li
                class="page-item"
                v-if="parseInt(pagination.currentPage) - 1 > 0"
              >
                <a
                  class="page-link"
                  href="#"
                  @click.prevent="
                    goToPage(parseInt(pagination.currentPage) - 1)
                  "
                  >{{ parseInt(pagination.currentPage) - 1 }}</a
                >
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">{{ pagination.currentPage }}</a>
              </li>
              <li
                class="page-item"
                v-if="
                  parseInt(pagination.currentPage) + 1 <= pagination.totalPage
                "
              >
                <a
                  class="page-link"
                  href="#"
                  @click.prevent="
                    goToPage(parseInt(pagination.currentPage) + 1)
                  "
                  >{{ parseInt(pagination.currentPage) + 1 }}</a
                >
              </li>
              <li
                class="page-item"
                v-if="
                  parseInt(pagination.currentPage) + 2 <= pagination.totalPage
                "
              >
                <a
                  class="page-link"
                  href="#"
                  @click.prevent="
                    goToPage(parseInt(pagination.currentPage) + 2)
                  "
                  >{{ parseInt(pagination.currentPage) + 2 }}</a
                >
              </li>
              <li class="page-item next-item">
                <a
                  class="page-link"
                  :class="{ disabled: !pagination.next }"
                  @click.prevent="goToPage(pagination.next)"
                  href="#"
                ></a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- End Pagination Section -->
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import Modal from "@/components/Modal";
import vSelect from "vue-select";
import { get } from "lodash";
import jsPDF from "jspdf";
import "jspdf-autotable";

export default {
  data() {
    return {
      companies: [],
      filter: {
        type: "",
        partner: "",
        partnerName: "",
        origin: "",
        destination: "",
        page: 1,
        perPage: 10,
      },
      pagination: {},
      listTrx: [],
      trxType: [
        {
          name: "Payment To Merchant",
          id: "payment_to_merchant"
        },
        {
          name: "Bank Transfer",
          id: "bank_transfer"
        },
        {
          name: "P2P Transfer",
          id: "p2p"
        },
        {
          name: "Biller Deduction",
          id: "biller_deduction"
        },
        {
          name: "Transaction P2P",
          id: "transaction_p2p"
        },
        {
          name: "QR Payment",
          id: "qr_payment"
        },
        {
          name: "Biller Payment",
          id: "biller_payment"
        },
        {
          name: "Inquiry P2P",
          id: "inqury_p2p"
        },
      ],
      payload: {},
    };
  },
  computed: {
    ...mapState(["loading"])
  },
  async mounted() {
    await this.getTransactions(false);
  },
  methods: {
    getType(data) {
      let type = "-";
      switch (data) {
        case "payment_to_merchant":
          type = "Payment To Merchant";
          break;
        case "bank_transfer":
          type = "Bank Transfer";
          break;
        case "p2p":
          type = "P2P Transfer";
          break;
        case "biller_deduction":
          type = "Biller Deduction";
          break;
        case "transaction_p2p":
          type = "Transaction P2P";
          break;
        case "qr_payment":
          type = "QR Payment";
          break;
        case "biller_payment":
          type = "Biller Payment";
          break;
        case "inqury_p2p":
          type = "Inquiry P2P";
          break;
        default:
          type = data;
          break;
      }
      return type;
    },
    getAmountTrx(data) {
      let amount = 0;
      if (
        data &&
        data.extra 
      ) {
        switch(data.type) {
          case 'payment_to_merchant':
            amount = data.request && data.request.payments && data.request.payments.amount ? data.request.payments.amount : 0;
            break;
          case 'biller_deduction':
            amount = data.request && data.request.amount ? data.request.amount : 0;
            break;
          case 'transaction_p2p':
            amount = data.request && data.request.payments.length && data.request.payments[0].amount ? data.request.payments[0].amount : 0;
            break;
          case 'inqury_p2p':
            amount = data.request && data.request.payments.length && data.request.payments[0].amount ? data.request.payments[0].amount : 0;
            break;
          case 'inqury_p2p':
            amount = data.request && data.request.payments.length && data.request.payments[0].amount ? data.request.payments[0].amount : 0;
            break;
          case 'qr_payment':
            amount = data.request && data.request.amount ? data.request.amount : 0;
            break;
          case 'biller_payment':
            amount = data.extra && data.extra.Amount ?  data.extra.Amount : 0;
            break;
          case 'bank_transfer':
            amount = data.request && data.request.amount ? data.request.amount : 0;
            break;
          case 'p2p':
            amount = data.request && data.request.payments.length && data.request.payments[0].amount ? data.request.payments[0].amount : 0;
            break;
            
        }
        
      }
      return amount;
    },
    async getTransactions(search) {
      this.$store.commit("SET_LOADING", true);

      try {
        const data = await this.$api.partner.getTransactions({
          filter: search,
          page: this.filter.page,
          perPage: this.filter.perPage,
        });
        this.listTrx = data.payload.data;
        this.pagination = data.payload.pagination;
      } catch (error) {
        console.error(error);
      }
      this.$store.commit("SET_LOADING", false);
    },
    getData() {
      const search = {};
      if (this.filter.type)
        Object.assign(search, { type: this.filter.type.id });
      if (this.filter.partner)
        Object.assign(search, { partner: this.filter.partner });
      if (this.filter.partnerName)
        Object.assign(search, { partnerName: this.filter.partnerName });
      if (this.filter.origin)
        Object.assign(search, { origin: this.filter.origin });
      if (this.filter.destination)
        Object.assign(search, { destination: this.filter.destination });
      this.payload = search;

      this.getTransactions(search);
    },
    handleGenereatePdf() {
      const tableHead = [
        "Partner Name",
        "Partner Account Number",
        "Time",
        "Type",
        "Sender",
        "Recipient",
        "Amount",
        "Status",
        "Retrieval Reference"
      ];

      const tableKey = [
        "partnerName",
        "partner",
        "type",
        "extra.date",
        "origin",
        "destination",
        `extra["wallet-transactions"].debit`,
        "status",
        "retrievalReference"
      ];

      const tableBody = [];

      this.listTrx.forEach(row => {
        const tableData = [];

        tableKey.forEach(key => {
          let value = get(row, key, "");

          switch (key) {
            case `extra["wallet-transactions"].debit`:
              value = this.$filters.formattedNumber(value);
              break;
            case "extra.date":
              value = this.$filters.formattedDateTime(value);
              break;
          }

          tableData.push(value);
        });

        tableBody.push(tableData);
      });

      const fileName = "transactions";
      const title = "Transactions Report";

      this.generatePdfTable({
        fileName,
        title,
        tableHead,
        tableBody
      });
    },
    async handleExportFile() {
      try {
        const downloadPathUrl = await this.$api.utils.exportCsv(
          this.listTrx
        );
      } catch (error) {
        this.$swal({
          icon: "error",
          title: "Oops!",
          text: "export failed",
        });
      }
    },
    goToPage(page) {
      this.filter.page = page;
      this.getData(false);
    },
    generatePdfTable({ fileName, title, tableHead, tableBody, nestedTable }) {
      const doc = new jsPDF({ orientation: "landscape" });

      doc.text(title, 10, 10);

      doc.autoTable({
        head: [tableHead],
        body: tableBody,
        rowPageBreak: "avoid",
        margin: {
          top: 20,
          left: 10
        },
        didDrawCell: data => {
          if (nestedTable && data.row.section === "body") {
            if (data.row.index % 2 == 1) {
              let nestedRow = nestedTable[data.row.index / 2 - 0.5];
              doc.autoTable({
                head: [nestedRow.header],
                body: nestedRow.body,
                startY: data.cell.y + 2,
                margin: {
                  left: data.cell.x + 12
                },
                tableWidth: data.cell.width - 24,
                theme: "grid",
                didDrawPage: nData => {
                  let finalHeight = 0;
                  let table = nData.table;
                  let headerHeight = table.head.reduce((a, b) => {
                    return a + b.height;
                  }, 0);
                  let bodyHeight = table.body.reduce((a, b) => {
                    return a + b.height;
                  }, 0);
                  finalHeight += headerHeight + bodyHeight;

                  data.row.height = finalHeight + 5;
                }
              });
            }
          }
        }
      });

      const timestamp = new Date().getTime();
      const fileExportName = `${fileName}_${timestamp}.pdf`;

      doc.save(fileExportName);
    }
},
  components: {
    Modal,
    vSelect
  }
};
</script>

<style></style>
