<template>
  <forgot-password>
    <form @submit.prevent="forgotPassword">
      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" v-model="email" />
        <label for="inputEmail">Email</label>
      </div>
      <div class="float-md-left d-block mb-1">
        <nuxt-link to="/admin/login" class="btn btn-outline-primary btn-block px-75">Back to Login</nuxt-link>
      </div>
      <div class="float-md-right d-block mb-1">
        <button type="submit" class="btn btn-primary btn-block px-75">
          <span v-if="!loading">Recover Password</span>
          <span v-else class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </form>
  </forgot-password>
</template>

<script>
import { mapState } from "vuex";
import ForgotPassword from "@/components/auth/ForgotPassword";

export default {
  layout: "blank",
  data() {
    return {
      email: "",
    };
  },
  computed: {
    ...mapState(["loading"]),
  },
  methods: {
    async forgotPassword() {
      if (this.email) {
        this.$store.commit("SET_LOADING", true);
        try {
          await this.$api.admins.forgotPassword({ email: this.email });
          this.$swal(
            `<h4 class="text-weight-bold">Request to change password has been sent to your email!</h4>`,
            "",
            "success"
          );
          this.email = "";
          this.$router.push('/admin/login')
        } catch (error) {
          if (error.response.status == 400) {
            this.$swal(
              `<h4 class="text-weight-bold">Cannot find an account from that email!</h4>`,
              "",
              "error"
            );
          }
          console.error(error);
        } finally {
          this.$store.commit("SET_LOADING", false);
        }
      } else {
        this.$swal(
          `<h4 class="text-weight-bold">Email cannot be empty!</h4>`,
          "",
          "error"
        );
      }
    },
  },
  components: {
    ForgotPassword,
  },
};
</script>

<style></style>