<template>
  <login title="Login Admin">
    <p class="px-2" v-if="!error" slot="description">Welcome back, please login to your account.</p>
    <div v-else class="alert alert-danger" role="alert">
      <p class="mb-0">{{ description }}</p>
    </div>
    <form @submit.prevent="login" class="pb-4 pt-2">
      <fieldset class="form-label-group form-group position-relative has-icon-left">
        <input
          type="text"
          class="form-control"
          id="user-name"
          placeholder="Username"
          v-model="form.username"
          @keyup="setDescription(false, '')"
          required
        />
        <div class="form-control-position">
          <i class="feather icon-user"></i>
        </div>
        <label for="user-name">Username</label>
      </fieldset>

      <fieldset class="form-label-group position-relative has-icon-left">
        <input
          type="password"
          class="form-control"
          id="user-password"
          placeholder="Password"
          v-model="form.password"
          @keyup="setDescription(false, '')"
          required
        />
        <div class="form-control-position">
          <i class="feather icon-lock"></i>
        </div>
        <label for="user-password">Password</label>
      </fieldset>
      <div class="form-group d-flex">
        <Captcha @onSuccess="handleSuccessCaptcha" />
      </div>
      <div class="form-group d-flex justify-content-between align-items-center">
        
        <div class="text-right">
          <nuxt-link to="/admin/forgot_password" class="card-link">Forgot Password?</nuxt-link>
        </div>
      </div>
      
      <button type="submit" class="btn btn-block btn-primary float-right btn-inline" :disabled="loading || invalidCaptcha ? true : false">
        <span v-if="!loading">Login</span>
        <span v-else class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    </form>
  </login>
</template>

<script>
import { mapState } from 'vuex'
import Login from "@/components/auth/Login"

export default {
  layout: "blank",
  components: {
    Captcha: () => import("@/components/auth/Captcha"),
  },
  data() {
    return {
      description: "",
      error: false,
      form: {
        username: "",
        password: "",
      },
      invalidCaptcha: true,
    }
  },
  computed: {
    ...mapState([ 'loading' ])
  },
  methods: {
    async login() {
      if ((this.form.username === "" && this.form.password === "") || this.invalidCaptcha) {
        return
      } 
      try {
        await this.$store.dispatch('auth/doLogin', this.form)
        this.$router.push('/admin')
      } catch (error) {
        if (error.response) {
          if (error.response.data.message == "KEYCLOAK_FAILED_TO_LOGIN") {
            this.setDescription(true, "Username or Password is invalid")
          }
        }
      }
    },
    setDescription(error, description) {
      this.error = error
      this.description = description
    },
     handleSuccessCaptcha() {
      this.setDescription(false, "");
      this.invalidCaptcha = false;
    },
  },
  components: {
    Login,
  },
}
</script>

<style>
</style>