<template>
  <section id="page-account-settings">
    <div class="row">
      <!-- left menu section -->
      <div class="col-md-3 mb-2 mb-md-0">
        <div class="card">
          <div class="card-content card-profile">
            <img
              class="card-img img-fluid mb-2 h-100"
              src="~/assets/images/slider/04.jpg"
              alt="Card image"
            />
            <div class="card-img-overlay overlay-primary overlay-lighten-2">
              <div class="media justify-content-center mb-2">
                <a href="javascript: void(0);">
                  <img
                    src="~/assets/images/portrait/small/avatar-s-11.jpg"
                    class="rounded-circle"
                    alt="profile image"
                    height="92"
                    width="92"
                  />
                </a>
              </div>
              <p class="card-text mb-0">
                <small class="text-white-muted">Account</small>
              </p>
              <h5
                class="card-text text-uppercase text-white text-weight-bold mb-0"
              >
                {{ `${dataUser.firstName} ${dataUser.lastName}` }}
              </h5>
              <p class="card-text text-white">{{ dataUser.email }}</p>
              <p class="card-text mb-0">
                <small class="text-white-muted">Role</small>
              </p>
              <p class="card-text text-white text-capitalize">
                {{ dataUser.roleName ? dataUser.roleName : "-" }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- right content section -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-content">
            <div class="card-header row">
              <div class="col-6">
                <h2 class="content-header-title float-left mb-0">Profile</h2>
              </div>
              <div class="col-6">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <nuxt-link to="/">Home</nuxt-link>
                    </li>
                    <li class="breadcrumb-item active">Edit Profile</li>
                  </ol>
                </div>
              </div>
            </div>
            <hr />
            <ul class="nav nav-pills px-2">
              <li class="nav-item">
                <a
                  class="nav-link d-flex py-75 active"
                  id="account-pill-general"
                  data-toggle="pill"
                  href="#account-vertical-general"
                  aria-expanded="true"
                >
                  <i class="feather icon-globe mr-50 font-medium-3"></i>
                  General
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link d-flex py-75"
                  id="account-pill-password"
                  data-toggle="pill"
                  href="#account-vertical-password"
                  aria-expanded="false"
                >
                  <i class="feather icon-lock mr-50 font-medium-3"></i>
                  Change Password
                </a>
              </li>
            </ul>
            <hr />
            <div class="card-body">
              <div class="tab-content">
                <div
                  role="tabpanel"
                  class="tab-pane active"
                  id="account-vertical-general"
                  aria-labelledby="account-pill-general"
                  aria-expanded="true"
                >
                  <form novalidate @submit.prevent="updateProfile">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <div class="controls">
                            <label for="account-name">First Name</label>
                            <input
                              type="text"
                              class="form-control"
                              v-model="form.general.firstName"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <div class="controls">
                            <label for="account-name">Last Name</label>
                            <input
                              type="text"
                              class="form-control"
                              v-model="form.general.lastName"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <div class="controls">
                            <label for="account-e-mail">Phone Number</label>
                            <input
                              type="text"
                              class="form-control"
                              v-model="form.general.mobilenumber"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <div class="controls">
                            <label for="account-e-mail">E-mail</label>
                            <input
                              type="email"
                              class="form-control"
                              v-model="form.general.email"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-12 d-flex flex-sm-row flex-column justify-content-end"
                      >
                        <button
                          type="submit"
                          class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                        >
                          <span v-if="!loading">Save Changes</span>
                          <span
                            v-else
                            class="spinner-border spinner-border-sm"
                            role="status"
                            aria-hidden="true"
                          ></span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div
                  class="tab-pane fade"
                  id="account-vertical-password"
                  role="tabpanel"
                  aria-labelledby="account-pill-password"
                  aria-expanded="false"
                >
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <div class="controls">
                          <label for="account-retype-new-password">
                            Current password
                          </label>
                          <input
                            type="password"
                            name="con-password"
                            class="form-control"
                            v-model="oldPassword"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <div class="controls">
                          <label for="account-new-password">New Password</label>
                          <input
                            type="password"
                            name="password"
                            class="form-control"
                            v-model="newPassword"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <div class="controls">
                          <label for="account-retype-new-password">
                            Retype New Password
                          </label>
                          <input
                            type="password"
                            name="con-password"
                            class="form-control"
                            v-model="newPasswordConfirmation"
                          />
                        </div>
                      </div>
                    </div>
                    <div v-if="inputToken" class="col-12">
                      <div class="form-group">
                        <div class="controls">
                          <label for="account-retype-new-password">
                            Token
                          </label>
                          <input
                            type="text"
                            required
                            name="con-password"
                            class="form-control"
                            v-model="token"
                          />
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-12 d-flex flex-sm-row flex-column justify-content-end"
                    >
                      <button
                        type="submit"
                        class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                        @click.prevent="changePassword()"
                      >
                        <span>Send Token</span>
                      </button>
                      <button
                        type="submit"
                        :class="disableSendPass === true ? 'btn btn-primary disabled mr-sm-1 mb-1 mb-sm-0' : 'btn btn-primary mr-sm-1 mb-1 mb-sm-0'"
                        @click.prevent="sendPassword()"
                      >
                        <span v-if="!loading">Change Password</span>
                        <span
                          v-else
                          class="spinner-border spinner-border-sm"
                          role="status"
                          aria-hidden="true"
                        ></span>
                      </button>
                      <button type="reset" class="btn btn-outline-warning">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      form: {
        general: {
          firstName: "",
          lastName: "",
          email: "",
          mobilenumber: ""
        }
      },

      newPassword: "",
      newPasswordConfirmation: "",
      oldPassword: "",
      token: "",
      inputToken: false,
      dataUser: {},
      passAfterForgot: "",
      disableSendPass: true
    };
  },
  computed: {
    ...mapState("auth", ["userInfo", "role"]),
    ...mapState(["loading"])
  },
  methods: {
    async confirmAfterForgot() {
      this.$store.commit("SET_LOADING", true);
      try {
        const params = {
          newPassword: this.passAfterForgot
        };
        await this.$api.admins.confirmForgot(params);
        this.$swal(
          `<h4 class="text-weight-bold">Passord has been changed!</h4>`,
          "",
          "success"
        );
        this.getProfile();
      } catch (error) {
        console.error(error);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    async updateProfile() {
      this.$store.commit("SET_LOADING", true);
      try {
        await this.$api.admins.update(this.form.general);
        this.$swal(
          `<h4 class="text-weight-bold">Profile has been updated!</h4>`,
          "",
          "success"
        );
        this.getProfile();
      } catch (error) {
        console.error(error);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    async changePassword() {
      if (
        this.newPassword &&
        this.newPasswordConfirmation &&
        this.oldPassword
      ) {
        this.$store.commit("SET_LOADING", true);
        try {
          const params = {
            oldPassword: this.oldPassword,
            newPassword: this.newPassword
          };
          await this.$api.admins.changePassword(params);
          this.inputToken = true;
          this.disableSendPass = false;
        } catch (error) {
          console.error(error);
        } finally {
          this.$store.commit("SET_LOADING", false);
        }
      } else {
        this.$swal(
          `<h4 class="text-weight-bold">Password cannot be empty!</h4>`,
          "",
          "error"
        );
      }
    },
    async sendPassword() {
      this.$store.commit("SET_LOADING", true);
      try {
        const params = {
          oldPassword: this.oldPassword,
          newPassword: this.newPassword,
          otp: this.token
        };
        await this.$api.admins.confirmPassword(params);
        this.$swal(
          `<h4 class="text-weight-bold">Password has been updated!</h4>`,
          "",
          "success"
        );
        this.logout()
      } catch (error) {
        console.error(error);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    async getProfile() {
      try {
        this.dataUser = await this.$api.admins.get();
        this.form.general.firstName = this.dataUser.firstName;
        this.form.general.lastName = this.dataUser.lastName;
        this.form.general.email = this.dataUser.email;
        this.form.general.mobilenumber = this.dataUser.mobilenumber;
      } catch (error) {
        console.error(error);
      }
    },
    async logout() {
      await this.$api.auth.logout();
        this.$router.push("/admin/login");
    }
  },
  created() {
    this.getProfile();
  }
};
</script>

<style></style>
