<template>
  <reset-password>
    <form @submit.prevent="changePassword">
      <fieldset class="form-label-group">
        <input type="password" class="form-control" v-model="form.newPassword" />
        <label for="user-password">New Password</label>
      </fieldset>

      <fieldset class="form-label-group">
        <input type="password" class="form-control" v-model="form.newPasswordConfirmation" />
        <label for="user-confirm-password">Confirm Password</label>
      </fieldset>
      <div class="row pt-2">
        <div class="col-12 col-md-12 mb-1">
          <button type="submit" class="btn btn-primary btn-block px-0">
            <span v-if="!loading">Reset</span>
            <span v-else class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </form>
  </reset-password>
</template>

<script>
import { mapState } from "vuex";
import ResetPassword from "@/components/auth/ResetPassword";

export default {
  layout: "no_middleware",
  data() {
    return {
      form: {
        newPassword: "",
        newPasswordConfirmation: "",
      },
    };
  },
  computed: {
    ...mapState(["loading"]),
  },
  methods: {
    async changePassword() {
      if (this.form.newPassword && this.form.newPasswordConfirmation) {
        this.$store.commit("SET_LOADING", true);
        try {
          await this.$api.admins.changePassword(this.form);
          this.$swal(
            `<h4 class="text-weight-bold">Password has been updated!</h4>`,
            "",
            "success"
          );
          this.$cookies.remove(process.env.AUTH_COOKIE_NAME);
          this.$router.push("/admin/login");
        } catch (error) {
          console.error(error);
        } finally {
          this.$store.commit("SET_LOADING", false);
        }
      } else {
        this.$swal(
          `<h4 class="text-weight-bold">Password cannot be empty!</h4>`,
          "",
          "error"
        );
      }
    },
  },
  components: {
    ResetPassword,
  },
};
</script>

<style></style>