<template>
  <section class="page-users-view">
    <div class="card mt-75">
      <div class="card-header row">
        <div class="col-6">
          <h2 class="content-header-title float-left mb-0 mr-2">
            Partner Details
          </h2>
        </div>
        <div class="col-6">
          <div class="float-right">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <nuxt-link to="/admin/partner">Partner</nuxt-link>
              </li>
              <li class="breadcrumb-item active">
                Detail
              </li>
            </ol>
          </div>
        </div>
      </div>
      <hr />
      <div class="card-body">
        <div v-if="loading" class="text-center my-4">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <br /><br />
          data...
        </div>

        <div class="row" v-else>
          <div class="col-12 col-md-3 mb-2">
            <table style="border-collapse: separate; border-spacing:0 20px;">
              <tr>
                <td class="font-weight-bold">name</td>
                <td class="pl-5">{{ company.name }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">username</td>
                <td class="pl-5">{{ company.username }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Email</td>
                <td class="pl-5">{{ company.email }}</td>
              </tr>
            </table>
          </div>
          <div class="col-12 col-md-3">
            <table
              class="ml-0 ml-sm-0 ml-lg-0"
              style="border-collapse: separate; border-spacing:0 20px;"
            >
              <tr>
                <td class="font-weight-bold">Phone Number</td>
                <td class="pl-5">{{ company.mobilenumber }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Office Phone Number</td>
                <td class="pl-5">{{ company.nomorTeleponKantor }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Business PIC Name</td>
                <td class="pl-5">{{ company.namaPICBisnis }}</td>
              </tr>
            </table>
          </div>
          <div class="col-12 col-md-3">
            <table
              class="ml-0 ml-sm-0 ml-lg-0"
              style="border-collapse: separate; border-spacing:0 20px;"
            >
              <tr>
                <td class="font-weight-bold">Total Branch</td>
                <td class="pl-5">{{ company.jumlahBranch }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Active Cutting Tax</td>
                <td class="pl-5">{{ company.tax ? "active" : "inactive" }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Partner Callback URL</td>
                <td class="pl-5">{{ company.callbackUrl || "-" }}</td>
              </tr>
            </table>
          </div>
          <div class="col-12 col-md-3">
            <table
              class="ml-0 ml-sm-0 ml-lg-0"
              style="border-collapse: separate; border-spacing:0 20px;"
            >
              <tr>
                <td class="font-weight-bold">Minimal Amount P2P Transfer</td>
                <td class="pl-5">{{ company.minAmountP2P }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Maximal Amount P2P Transfer</td>
                <td class="pl-5">{{ company.maxAmountP2P }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Minimal Amount Bank Transfer</td>
                <td class="pl-5">{{ company.minAmountBankTrf }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Maximal Amount Bank Transfer</td>
                <td class="pl-5">{{ company.maxAmountBankTrf }}</td>
              </tr>
            </table>
          </div>
          <div class="col-12 mt-2">
            <nuxt-link
              :to="{ path: `/admin/partner/edit/${id}` }"
              class="btn btn-primary mr-1"
            >
              <i class="feather icon-edit-1"></i> edit
            </nuxt-link>
            <nuxt-link
              :to="{ path: '/admin/partner' }"
              class="btn btn-outline-primary"
              >back</nuxt-link
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row" v-show="!loading">
      <div class="col-md-8 col-12">
        <div class="card card-map">
          <div class="card-body">
            <div id="map" ref="map"></div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div class="card card-map">
          <div class="card-header">
            <div class="card-title">address</div>
          </div>
          <hr />
          <div class="card-body pt-0">
            <table>
              <tr>
                <td class="font-weight-bold">country</td>
                <td>{{ country.name }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">province</td>
                <td>{{ province.name }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">city</td>
                <td>{{ city.name }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">district</td>
                <td>{{ district.name }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">sub district name</td>
                <td>{{ sub_district.name }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">postal code</td>
                <td>{{ company.postalCode }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="card" v-if="!loading">
      <div class="card-header">
        <div class="card-title"></div>
      </div>
      <hr />
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>name</th>
                <th>number</th>
                <th>photo doc</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Front Office</td>
                <td>
                  <p>-</p>
                </td>
                <td>
                  <a target="_blank" :href="company.fotoTempatUsaha"
                    >See document</a
                  >
                </td>
              </tr>
              <tr>
                <td>Bank Account</td>
                <td>
                  <p>{{ company.nomorRekeningBank || '-' }}</p>
                </td>
                <td>
                  <a target="_blank" :href="company.fotoRekening"
                    >See document</a
                  >
                </td>
              </tr>
              <tr>
                <td>NPWP</td>
                <td>
                  <p>{{ company.npwp || '-' }}
                    </p>
                  </td>
                <td>
                  <a target="_blank" :href="company.fotoNPWP">See document</a>
                </td>
              </tr>
              <tr>
                <td>Owner / Director ID Card</td>
                <td>
                  <p>{{ company.nomorKTPPemilik || '-' }}</p></td>
                <td>
                  <a target="_blank" :href="company.fotoKTPPemilik"
                    >See document</a
                  >
                </td>
              </tr>
              <tr>
                <td>Manager ID Card</td>
                <td>
                  <p>{{ company.nomorKTPPengelola || '-' }}</p></td>
                <td>
                  <a target="_blank" :href="company.fotoKTPPengelola"
                    >See document</a
                  >
                </td>
              </tr>
              <tr>
                <td>Operator ID Card</td>
                <td><p>{{ company.nomorKTPOperator || '-' }}</p></td>
                <td>
                  <a target="_blank" :href="company.fotoKTPOperator"
                    >See document</a
                  >
                </td>
              </tr>
              <tr>
                <td>Deed Of Incorporation</td>
                <td><p>{{ company.nomorAkta || '-' }}</p></td>
                <td>
                  <a target="_blank" :href="company.fotoAktaPendirian"
                    >See document</a
                  >
                </td>
              </tr>
              <tr>
                <td>TDP</td>
                <td><p>{{ company.nomorTDP || '-' }}</p></td>
                <td>
                  <a target="_blank" :href="company.fotoTDP">See document</a>
                </td>
              </tr>
              <tr>
                <td>SITU</td>
                <td><p>{{ company.nomorSITU || '-' }}</p></td>
                <td>
                  <a target="_blank" :href="company.fotoSITU">See document</a>
                </td>
              </tr>
              <tr>
                <td>Deed Of Incorporation</td>
                <td><p>{{ company.nomorAkta || '-' }}</p></td>
                <td>
                  <a target="_blank" :href="company.fotoAktaPendirian">See document</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card" v-if="!loading">
      <div class="card-body">
        <p class="text-muted">KasPro Detail Information</p>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <span class="font-weight-bold">Account Number: </span>
              <span>{{ company.accountNumber }}</span>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <span class="font-weight-bold">Partner Token: </span>
              <span>{{ company.partnerToken }}</span>
            </div>
          </div>
        </div>
        <p class="text-muted">Pocket Detail</p>
        <div v-if="pocket.length">
          <div v-for="(data, index) in pocket" :key="index" class="row">
            <div class="col-6">
              <div class="form-group">
                <span class="font-weight-bold">Pocket ID: </span>
                <span>{{ data.pocketId }}</span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <span class="font-weight-bold">Pocket Name: </span>
                <span>{{ data.pocketName }}</span>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <span class="font-weight-bold"> No pocket data </span>
        </div>

        <!-- BILLER -->
        <p class="text-muted mt-2">Biller Partner ID</p>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <span class="font-weight-bold">Partner ID: </span>
                <span>{{ company.billerPartnerId || '-' }}</span>
              </div>
            </div>
        </div>

        <!-- PARTNER KEY -->
        <p class="text-muted">Partner Key</p>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <span class="font-weight-bold">Partner Key: </span>
                <span>{{ company.partnerKey || '-' }}</span>
              </div>
            </div>
        </div>

         <!-- CALLBACK FUNCTION -->
        <p class="text-muted">Callback Function</p>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <span class="font-weight-bold">Partner Upgrade Premium Callback </span>
                <span>{{ company.upgradePremiumCallback || '-' }}</span>
              </div>
            </div>
             <div class="col-6">
              <div class="form-group">
                <span class="font-weight-bold">Partner Biller Callback </span>
                <span>{{ company.billerCallback || '-' }}</span>
              </div>
            </div>
        </div>

      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";

const apiKey = process.env.GOOGLE_MAPS_API_KEY;

export default {
  meta: {
    permission: "companies:read"
  },
  validate({ params }) {
    return /^\d+$/.test(params.id);
  },
  data() {
    return {
      pocket: [
        {
          pocketId: "",
          pocketName: ""
        }
      ],
      company: {},
      id: this.$route.params.id,
      map: {},
      sub_district: {},
      district: {},
      city: {},
      province: {},
      country: {}
    };
  },
  computed: {
    ...mapState(["loading"])
  },
  methods: {
    async getCompany() {
      try {
        const company = await this.$api.partner.getDetail(this.id);
        this.company = company;
        const latLong = company.coordinates.split(",");
        this.company.lat = latLong[0];
        this.company.long = latLong[1];
        this.pocket = company.pocket ? company.pocket : [];
      } catch (error) {
        console.error(error);
      }
    },
    async cityDetail(id) {
      try {
        const response = await this.$api.partner.showCity(id);
        this.city = response;
      } catch (error) {
        console.log(error.response);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    async districtDetail(id) {
      try {
        const response = await this.$api.partner.showDistrict(id);
        this.district = response;
      } catch (error) {
        console.log(error.response);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    async subDistrictDetail(id) {
      try {
        const response = await this.$api.partner.showVillage(id);
        this.sub_district = response;
      } catch (error) {
        console.log(error.response);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    async provinceDetail(id) {
      try {
        const response = await this.$api.partner.showProvince(id);
        this.province = response;
      } catch (error) {
        console.log(error.response);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    async countryDetail(id) {
      try {
        const response = await this.$api.partner.showCountry(id);
        this.country = response;
      } catch (error) {
        console.log(error.response);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    initMap() {
      console.log("this.company.lat-->", this.company.lat);
      console.log("this.company.ling-->", this.company.long);
      const LatLng = {
        lat: parseFloat(this.company.lat),
        lng: parseFloat(this.company.long)
      };
      let map = new google.maps.Map(this.$refs.map, {
        zoom: 10,
        center: LatLng,
        streetViewControl: false,
        fullscreenControl: false
      });
      new google.maps.Marker({
        position: LatLng,
        map
      });
    },
    async onMapsAPILoaded() {
      await this.getCompany();
      this.cityDetail(this.company.cityId);
      this.provinceDetail(this.company.provinceId);
      this.countryDetail(this.company.countryId);
      this.districtDetail(this.company.subUrbanId);
      this.subDistrictDetail(this.company.areaId);
      this.initMap();
    }
  },
  mounted() {
    this.$store.commit("SET_LOADING", true);

    if (!process.server) {
      const script = document.createElement("script");
      script.onload = this.onMapsAPILoaded;
      script.type = "text/javascript";
      script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}`;

      var link = document.createElement("link");
      link.rel = "stylesheet";
      link.type = "text/css";
      link.href = "/css/pages/app-user.css";

      let isExist =
        document.querySelectorAll(`head script[src="${script.src}"]`).length >
        0;
      let isStyleExist =
        document.querySelectorAll(`head link[href="${link.href}"]`).length > 0;

      if (!isExist && !isStyleExist) {
        document.head.appendChild(script);
        document.head.appendChild(link);
      } else this.onMapsAPILoaded();
    } else {
      this.onMapsAPILoaded();
    }
  }
};
</script>

<style scoped>
#map {
  height: 255px;
}
.card-map {
  height: 300px;
}
</style>
