<template>
  <section id="page-account-settings">
    <div class="card">
      <div class="card-content">
        <div class="card-header row">
          <div class="col-6">
            <h2 class="content-header-title float-left mb-0 mr-2">Partners</h2>
            <nuxt-link to="/admin/partner_management/partner/new" class="btn btn-primary"
              >Add New Partner</nuxt-link
            >
          </div>
          <div class="col-6">
            <div class="float-right">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <nuxt-link to="/">Home</nuxt-link>
                </li>
                <li class="breadcrumb-item active">Partners</li>
              </ol>
            </div>
          </div>
        </div>
        <hr />
        <div class="card-body">
          <section id="basic-datatable">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body pt-0">
                      <div class="row" v-if="!loading && companies.length > 1">
                        <div class="col-4 d-flex align-items-center">
                          <fieldset
                            class="form-group d-flex align-items-center"
                          >
                            <span>Show</span>
                            <select
                              class="form-control mx-1"
                              v-model="filter.perPage"
                              @change="getCompanies(true)"
                            >
                              <option value="5">5</option>
                              <option value="10">10</option>
                              <option value="15">15</option>
                              <option value="25">25</option>
                            </select>
                            <span>entries</span>
                          </fieldset>
                        </div>
                      </div>

                      <div v-show="loading" class="text-center my-4">
                        <div class="spinner-border" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <br /><br />
                        Retrieving data...
                      </div>
                      <div
                        v-show="!loading && companies.length == 0"
                        class="text-center my-4"
                      >
                        <p>No partners data found.</p>
                      </div>

                      <div
                        class="table-responsive"
                        v-show="!loading && companies.length > 0"
                      >
                        <table
                          class="table table-striped dataex-html5-selectors py-4"
                          style="min-height:200px"
                        >
                          <thead>
                            <tr>
                              <th>Partner Name</th>
                              <th>Email</th>
                              <th>PIC Business Name</th>
                              <th>Phone Number</th>
                              <th>Address</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="(c, i) in companies" :key="i">
                              <td>{{ c.name }}</td>
                              <td>{{ c.email }}</td>
                              <td>{{ c.namaPICBisnis }}</td>
                              <td>{{ c.mobilenumber }}</td>
                              <td>{{ c.address }}</td>
                              <td>
                                <span
                                  v-if="c.isActive === true"
                                  class="badge badge-pill badge-warning text-capitalize"
                                  >active
                                </span>
                                <span
                                  v-else
                                  class="badge badge-pill badge-secondary text-capitalize"
                                  >inactive</span
                                >
                              </td>
                              <td>
                                <div class="dropdown">
                                  <button
                                    class="btn btn-outline-primary btn-sm dropdown-toggle mr-1 waves-effect waves-light"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                  >
                                    Action
                                  </button>
                                  <div
                                    class="dropdown-menu"
                                    aria-labelledby="dropdownMenuButton"
                                    x-placement="bottom-start"
                                    style="
                                      position: absolute;
                                      will-change: transform;
                                      top: 0px;
                                      left: 0px;
                                      transform: translate3d(0px, 38px, 0px);
                                    "
                                  >
                                    <a
                                      v-if="c.isActive === false"
                                      @click="activate(c)"
                                      type="button"
                                      class="dropdown-item"
                                      >Activate</a
                                    >
                                    <a
                                      v-if="c.isActive === true"
                                      class="dropdown-item"
                                      href
                                      @click.prevent="deactivate(c)"
                                      >Deactivate</a
                                    >

                                    <nuxt-link
                                      :to="{
                                        path: `/admin/partner_management/partner/${c.accountNumber}`
                                      }"
                                      class="dropdown-item"
                                      >Details</nuxt-link
                                    >
                                    <nuxt-link
                                      :to="{
                                        path: `/admin/customer?partner&id=${c.accountNumber}`
                                      }"
                                      class="dropdown-item"
                                      >Show Customers</nuxt-link
                                    >
                                    <nuxt-link
                                      :to="{
                                        path: `/admin/partner_management/partner/product_access?partner&id=${c.id}`
                                      }"
                                      class="dropdown-item"
                                      >Show Product Access</nuxt-link
                                    >
                                    <nuxt-link
                                      :to="{
                                        path: `/admin/partner_management/partner/edit/${c.accountNumber}`
                                      }"
                                      class="dropdown-item"
                                      >Edit</nuxt-link
                                    >
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot v-if="companies.length > 5">
                            <tr>
                              <th>Partner Name</th>
                              <th>Email</th>
                              <th>PIC Business Name</th>
                              <th>Phone Number</th>
                              <th>Address</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>

                      <div
                        class="d-flex align-items-center justify-content-between"
                        v-if="!loading && companies.length > 0"
                      >
                        <p>
                          Show
                          <strong>{{ pagination.totalCurrentData }}</strong>
                          partners from
                          <strong>{{ pagination.totalData }}</strong> partners
                        </p>
                        <nav>
                          <ul class="pagination justify-content-center mt-2">
                            <li class="page-item prev-item">
                              <a
                                class="page-link"
                                :class="{ disabled: !pagination.prev }"
                                @click.prevent="goToPage(pagination.prev)"
                                href="#"
                              ></a>
                            </li>
                            <li
                              class="page-item"
                              v-if="parseInt(pagination.currentPage) - 2 > 0"
                            >
                              <a
                                class="page-link"
                                href="#"
                                @click.prevent="
                                  goToPage(parseInt(pagination.currentPage) - 2)
                                "
                              >
                                {{ parseInt(pagination.currentPage) - 2 }}</a
                              >
                            </li>
                            <li
                              class="page-item"
                              v-if="parseInt(pagination.currentPage) - 1 > 0"
                            >
                              <a
                                class="page-link"
                                href="#"
                                @click.prevent="
                                  goToPage(parseInt(pagination.currentPage) - 1)
                                "
                                >{{ parseInt(pagination.currentPage) - 1 }}</a
                              >
                            </li>
                            <li class="page-item active">
                              <a class="page-link" href="#">{{
                                pagination.currentPage
                              }}</a>
                            </li>
                            <li
                              class="page-item"
                              v-if="
                                parseInt(pagination.currentPage) + 1 <=
                                pagination.totalPage
                              "
                            >
                              <a
                                class="page-link"
                                href="#"
                                @click.prevent="
                                  goToPage(parseInt(pagination.currentPage) + 1)
                                "
                                >{{ parseInt(pagination.currentPage) + 1 }}</a
                              >
                            </li>
                            <li
                              class="page-item"
                              v-if="
                                parseInt(pagination.currentPage) + 2 <=
                                pagination.totalPage
                              "
                            >
                              <a
                                class="page-link"
                                href="#"
                                @click.prevent="
                                  goToPage(parseInt(pagination.currentPage) + 2)
                                "
                                >{{ parseInt(pagination.currentPage) + 2 }}</a
                              >
                            </li>
                            <li class="page-item next-item">
                              <a
                                class="page-link"
                                :class="{ disabled: !pagination.next }"
                                @click.prevent="goToPage(pagination.next)"
                                href="#"
                              ></a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import Modal from "@/components/Modal";

export default {
  data() {
    return {
      companies: [],
      filter: {
        approval: "",
        status: "",
        perPage: 10,
        search: "",
        page: 1
      },
      pagination: {},
      export_loading: false,
      approvalPagination: {}
    };
  },
  computed: {
    ...mapState(["loading"]),
  },
  async mounted() {
    await this.getCompanies(true);
  },
  methods: {
    async getCompanies(search) {
      if (!search) {
        this.$store.commit("SET_LOADING", true);
      }

      let params = "sortBy=CREATED_AT&sortDirection=DESC";
      if (this.filter.approval) params += `&approval=${this.filter.approval}`;
      if (this.filter.status) params += `&status=${this.filter.status}`;
      if (this.filter.perPage) params += `&perPage=${this.filter.perPage}`;
      if (this.filter.search) params += `&name=${this.filter.search}`;
      if (this.filter.page) params += `&page=${this.filter.page}`;

      try {
        const companies = await this.$api.partner.getPartnerList(this.filter);
        this.companies = companies.data;
        this.pagination = companies.pagination;
      } catch (error) {
        console.error(error);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    setStatus(c) {
      this.$swal({
        title: `<h4 class="text-weight-bold">${
          c.status == "active" ? "Suspend" : "Activate"
        } ${c.name}</h4>`,
        text: "Confirm your action to change thi company status",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33"
      }).then(async answer => {
        if (answer.isConfirmed) {
          try {
            await this.$api.companies.setStatus(c.id);
            this.$swal(
              `<h4 class="text-weight-bold">Status ${c.name} has been updated!</h4>`,
              "",
              "success"
            );
            this.getCompanies(true);
          } catch (error) {
            this.$swal(
              `<h5 class="text-weight-bold">Something wrong! please try again later</h5>`,
              "",
              "error"
            );
            console.error(error);
          }
        }
      });
    },
    async approve(c) {
      const response = await this.$swal({
        title: `<h3 class="text-weight-bold">Approve company ${c.name} ?</h3>`,
        text: "Leaves some notes here:",
        input: "text",
        inputAttributes: {
          autocapitalize: "off"
        },
        showCancelButton: true,
        confirmButtonText: "Approve",
        confirmButtonColor: "#8A2785",
        showLoaderOnConfirm: true,
        preConfirm: async notes => {
          console.log(notes);
          try {
            return await this.$api.companies.approve(c.id, notes);
          } catch (error) {
            this.$swal(
              `<h5 class="text-weight-bold">Something wrong! please try again later</h5>`,
              "",
              "error"
            );
            console.error(error);
          }
        },
        allowOutsideClick: () => !this.$swal.isLoading()
      });

      if (response.isConfirmed) {
        this.$swal(
          `<h4 class="text-weight-bold">Company approved!</h4>`,
          "",
          "success"
        );
        this.getCompanies(true);
      }
    },
    goToPage(page) {
      this.filter.page = page;
      this.getCompanies(true);
    },
    async exportCSV(byStatus, type) {
      this.export_loading = true;

      let param;

      if (byStatus) param = `status=${type}`;
      else param = `approval=${type}`;

      try {
        const response = await this.$api.utils.export_csv(
          {
            docModule: "companies"
          },
          param
        );

        if (response) {
          window.open(response.downloadPathUrl);
        }
      } catch (error) {
        this.$swal(
          `<h5 class="text-weight-bold">Something wrong! please try again later</h5>`,
          "",
          "error"
        );
        console.error(error);
      } finally {
        this.export_loading = false;
      }
    },
    async activate(data) {
      this.$swal({
        title: `<h4 class="text-weight-bold">
        Activate
         ${data.name}</h4>`,
        text: "Confirm your action to activate this partner",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33"
      }).then(async answer => {
        if (answer.isConfirmed) {
          try {
            await this.$api.partner.activated(data.accountNumber);
            this.$swal(
              `<h4 class="text-weight-bold"> ${data.name} is active now!</h4>`,
              "",
              "success"
            );
            this.getCompanies(true);
          } catch (error) {
            this.$swal(
              `<h5 class="text-weight-bold">Something wrong! please try again later</h5>`,
              "",
              "error"
            );
            console.error(error);
          }
        }
      });
    },
    async deactivate(data) {
      this.$swal({
        title: `<h4 class="text-weight-bold">
        Activate
         ${data.name}</h4>`,
        text: "Confirm your action to deactivate this partner",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33"
      }).then(async answer => {
        if (answer.isConfirmed) {
          try {
            await this.$api.partner.deactivated(data.accountNumber);
            this.$swal(
              `<h4 class="text-weight-bold"> ${data.name} is not not active now</h4>`,
              "",
              "success"
            );
            this.getCompanies(true);
          } catch (error) {
            this.$swal(
              `<h5 class="text-weight-bold">Something wrong! please try again later</h5>`,
              "",
              "error"
            );
            console.error(error);
          }
        }
      });
    }
  },
  components: {
    Modal
  }
};
</script>

<style></style>
