<template>
  <section id="page-account-settings">

    <div class="card">
      <div class="card-content">
        <div class="card-header row">
          <div class="col-6">
            <h2 class="content-header-title float-left mb-0 mr-2">Product Access</h2>
          </div>
        </div>
        <hr />
        <div class="card-body">
          <section id="basic-datatable">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body pt-0">
                      <div v-show="loading" class="text-center my-4">
                        <div class="spinner-border" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <br /><br />
                        {{  ('retrieving') }} data...
                      </div>
                      <div>
                      <p
                        v-show="!loading && !productAccess.length"
                        class="text-center my-4"
                      >
                         no product access data
                      </p>
                      </div>
                           <!-- PRODUCT CODE WHITE LIST -->
                           <form @submit.prevent="updateProduct">
                      
                         <div v-for="(data, index) in productAccess"
                         :key="index">
                         <p class="text-muted mt-1 mb-0" 
                         > {{ data.category }}</p>
                         <div class="row mx-o my-0">
                           <div v-for="(prod, index) in data.product"
                           :key="index" 
                           class="col-4 mx-0 my-0">
                            <div class="form-group mx-0 my-0">
                              <label for="account-company"></label>
                              <fieldset class="checkbox">
                                <div
                                  class="vs-checkbox-con vs-checkbox-primary"
                                >
                                  <input type="checkbox" :id="prod.id" :value="prod.id" @change="check(prod.status, prod.id)" :checked="prod.status" />
                                  <span class="vs-checkbox">
                                    <span class="vs-checkbox--check">
                                      <i class="vs-icon feather icon-check"></i>
                                    </span>
                                  </span>
                                  <span class>{{ prod.bmProductCode }} - {{ prod.description}}</span>
                                </div>
                              </fieldset>
                            </div>
                          </div>
                         </div>
                         </div>

                        <div
                          class="d-flex flex-sm-row flex-column align-items-center justify-content-between"
                        >
                          <p class="text-warning" v-if="false">
                            Uploading files...
                          </p>
                          <p v-else></p>
                          <div>
                            <button
                              type="submit"
                              class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                            >
                              <span v-if="!loading">Save</span>
                              <span
                                v-else
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                              ></span>
                            </button>
                            <button
                              type="reset"
                              class="btn btn-outline-warning"
                              @click.prevent="cancel()"
                            >
                              Cancel
                            </button>
                          </div>
                        </div>
                           </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { isEmpty } from 'lodash';

export default {
  meta: {
    permission: 'cashier:read'
  },
  data() {
    return {
      customer : [],
      branches: [],
      product: [],
      productAccess: [],
      filter: {
        email: "",
        name: "",
        partner: "",
      },
      pagination: {
        total: 1,
        currentData: 2,
        totalData: 2,
        next: null,
        prev: null,
        page: 1,
        current: 1,
      },
    };
  },
  computed: {
    ...mapState(["loading"]),
  },
  async mounted() {
    await this.getProductAccess(this.$route.query.id);
  },
  methods: {
    cancel(){
     this.$router.push("/admin/partner_management/partner");
    },
    async getProductAccess(id) {
      this.$store.commit("SET_LOADING", true);
      try {
        const response  = await this.$api.partner.getProductAccess(id);
        this.productAccess  = response.payload;
  
        this.productAccess.map(data=>{
          data.product.map(prod=>{
            if(prod.status===true){
              this.product.push(prod.id);
            } 
          })
        });
        console.log('prod data-->', this.product);
      
      } catch (error) {
        console.error(error);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    async updateProduct(){
          this.$store.commit("SET_LOADING", true);
      try {
        //clean params

        const params = {
         productAccess: this.product,
        };
        const response = await this.$api.partner.updateProductAccessByPartner(this.$route.query.id,params);
        this.$swal(
          `<h4 class="text-weight-bold">Product access has been updated</h4>`,
          "",
          "success"
        );
        this.$router.push("/admin/partner_management/partner");
      } catch (error) {
        console.error(error);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    check(status, id){
      if(status===false){
        this.product.push(id)
      }
      console.log('prod final-->', this.product);
    },
    goToPage(page) {
      this.filter.page = page;
      this.getcustomer (false);
    },
  },
  components: {
    vSelect,
  },
};
</script>

<style>
</style>
