<template>
  <div>
    <div class="row">
      <div class="col-12">
        <div class="card mb-0">
          <div class="card-content">
            <div class="card-body pt-0">
              <div
                v-if="['idle', 'loading'].includes(auditTrails.asyncState)"
                class="text-center my-4">
                <SpinnerLoading />
              </div>
              <div
                v-else-if="(auditTrails.asyncState === 'loaded' && auditTrails.data.countAll > 0)"
                class="table-responsive">
                <table class="table table-striped dataex-html5-selectors">
                  <thead>
                    <tr>
                      <th width="150">
                        {{ $tc('auditTrails.time') }}
                      </th>
                      <th width="100">
                        IP
                      </th>
                      <th width="100">
                        {{ $tc('menus.permission') }}
                      </th>
                      <th>
                        {{ $tc('auditTrails.service') }}
                      </th>
                      <th>
                        {{ $tc('auditTrails.table') }}
                      </th>
                      <th>
                        {{ $tc('auditTrails.action') }}
                      </th>
                      <th>
                        {{ $tc('auditTrails.changes') }}
                      </th>
                      <th>
                        {{ $tc('auditTrails.actor') }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="(row, index) in auditTrails.data.list"
                      :key="`audit-${index}`">
                      <td>
                        {{ (row.createdAt || row.updatedAt) | formattedDateTime }}
                      </td>
                      <td>
                        {{ row.meta && row.meta.ip }}
                      </td>
                      <td>
                        {{ row.meta && row.meta.permission }}
                      </td>
                      <td>
                        {{ row.serviceName }}
                      </td>
                      <td>
                        {{ row.tableName }}
                      </td>
                      <td>
                        <div :class="{
                          'chip chip-primary': true,
                          'chip-success': (row.action && row.action.toLowerCase() === 'create'),
                          'chip-info': (row.action && row.action.toLowerCase() === 'update'),
                          'chip-danger': (row.action && row.action.toLowerCase() === 'delete')
                        }">
                          <div class="chip-body">
                            <div class="chip-text">
                              {{ row.action }}
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-sm btn-dark"
                          @click="handleSeeChanges(row)">
                          {{ $tc('auditTrails.see_changes') }}
                        </button>
                      </td>
                      <td>
                        <span v-if="(row.firstName && row.lastName)">
                          {{ `${row.firstName} ${row.lastName}` }}
                        </span>
                        <span v-else>
                          {{ row.firstName || row.lastName }}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>
                        {{ $tc('auditTrails.time') }}
                      </th>
                      <th width="100">
                        IP
                      </th>
                      <th width="100">
                        {{ $tc('menus.permission') }}
                      </th>
                      <th>
                        {{ $tc('auditTrails.service') }}
                      </th>
                      <th>
                        {{ $tc('auditTrails.table') }}
                      </th>
                      <th>
                        {{ $tc('auditTrails.action') }}
                      </th>
                      <th>
                        {{ $tc('auditTrails.changes') }}
                      </th>
                      <th>
                        {{ $tc('auditTrails.actor') }}
                      </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div
                v-else
                class="text-center my-2">
                <p>
                  {{ $tc('auditTrails.message_not_found')}}
                </p>
              </div>
              <!-- Start Pagination Section -->
              <div
                v-if="showPagination && (auditTrails.data.countAll > 0)"
                class="d-flex align-items-center justify-content-between">
                <p>
                  <span>{{ $tc('show') }} <strong>{{ auditTrails.data.list.length }}</strong></span>
                  <span>{{ $tc('from') }} <strong>{{ auditTrails.data.countAll }}</strong></span>
                </p>
                <nav>
                  <ul class="pagination justify-content-center mt-2">
                    <li class="page-item prev-item">
                      <a
                        href="#"
                        :class="{
                          'page-link': true,
                          disabled: (auditTrails.data.page === 1)
                        }"
                        @click.prevent="handlePrevPage"
                      />
                    </li>
                    <li
                      v-for="page in totalPage"
                      :key="`page-${page}`"
                      :class="{
                        'page-item': true,
                        'active': (auditTrails.data.page === page)
                      }">
                      <a
                        href="#"
                        class="page-link"
                        @click.prevent="handleGoToPage(page)">
                        {{ page }}
                      </a>
                    </li>
                    <li class="page-item next-item">
                      <a
                        href="#"
                        :class="{
                          'page-link': true,
                          disabled: (auditTrails.data.page === totalPage)
                        }"
                        @click.prevent="handleNextPage"
                      />
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- End Pagination Section -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <Modal
      size="large"
      :show.sync="showModal">
      <div class="p-2">
        <div class="row">
          <div
            v-if="modalContent && modalContent.dataOriginal"
            class="col-md-6"
            :class="{
              'col-md-12': !(modalContent && modalContent.dataChanged)
            }"
          >
            <h4>{{ $tc('auditTrails.old_data') }}</h4>
            <pre class="alert alert-danger mt-2">{{ modalContent.dataOriginal }}</pre>
          </div>
          <div
            v-if="modalContent && modalContent.dataChanged"
            class="col-md-6"
            :class="{
              'col-md-12': !(modalContent && modalContent.dataOriginal)
            }"
          >
            <h4>{{ $tc('auditTrails.new_data') }}</h4>
            <pre class="alert alert-success mt-2">{{ modalContent.dataChanged }}</pre>
          </div>
        </div>
      </div>
    </Modal>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'AuditTrailsList',
  props: {
    keyword: {
      type: String,
      default: ''
    },
    restrict: {
      type: Boolean,
      default: false
    },
    showPagination: {
      type: Boolean,
      default: true
    },
    limit: {
      type: Number,
      default: 20
    }
  },
  components: {
  },
  data() {
    return {
      showModal: false,
      modalContent: null
    }
  },
  mounted() {
    this.getList()
  },
  computed: {
  },
  methods: {
    async getList(params) {
      if (this.restrict && !this.keyword) return;

      this.showModal = false

      const payload = { limit: this.limit }

      if (this.keyword) Object.assign(payload, { text: this.keyword })

      if (params) Object.assign(payload, params)
      this.auditTrails = await this.$api.partner.getAuditTrails(params);

    },
    handleGoToPage(page) {
      this.showModal = false;
      this.$store.dispatch('auditTrails/getListByPage', page)
    },
    handlePrevPage() {
      this.showModal = false;
      this.$store.dispatch('auditTrails/getPrevList')
    },
    handleNextPage() {
      this.showModal = false;
      this.$store.dispatch('auditTrails/getNextList')
    },
    handleSeeChanges(source) {
      this.showModal = true;
      this.modalContent = source;
    }
  }
}
</script>
