<template>
  <div class="flex flex-row" style="margin-top:13%">
    <div class="d-flex justify-content-center">
      <div class="col-6 d-flex justify-content-center align-items-center">
        <div class="card align-items-center">
          <div class="card-content">
            <div class="card-header mb-0">
              <h3>Create your new password</h3>
            </div>
            <div class="card-body">
              <form @submit.prevent="sendPassword" class="pb-4 pt-0">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <div class="controls">
                        <label for="account-new-password">New Password</label>
                        <input
                          type="password"
                          name="password"
                          class="form-control"
                          v-model="newPassword"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <div class="controls">
                        <label for="account-retype-new-password">
                          Retype New Password
                        </label>
                        <input
                          type="password"
                          name="con-password"
                          class="form-control"
                          v-model="newPasswordConfirmation"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <button
                  type="submit"
                  class="btn btn-block btn-primary float-right btn-inline"
                  :disabled="loading ? true : false"
                >
                  <span v-if="!loading">Submit</span>
                  <span
                    v-else
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import Login from "@/components/auth/Login";

export default {
  layout: "blank",
  data() {
    return {
      description: "",
      error: false,
      newPassword: "",
      newPasswordConfirmation: ""
    };
  },
  computed: {
    ...mapState(["loading"])
  },
  methods: {
    async sendPassword() {
      if (this.newPassword !== this.newPasswordConfirmation) {
        this.$swal(
          `<h4 class="text-weight-bold">Your Password didn't match</h4>`,
          "",
          "error"
        );
      }
      try {
        const params = {
          newPassword: this.newPassword,
          token: this.$route.query.token,
        };
        await this.$api.admins.confirmForgot(params);
        this.$swal(
          `<h4 class="text-weight-bold">Your Password has been changed. Please login with your new password</h4>`,
          "",
          "success"
        );
        this.$router.push("/admin/login");
      } catch (error) {}
    },
    setDescription(error, description) {
      this.error = error;
      this.description = description;
    }
  },
  components: {
    Login
  }
};
</script>

<style></style>
