<template>
  <section class="page-users-view">
    <div class="row">
      <!-- account start -->
      <div class="col-12">
        <div class="card">
          <div class="card-header row">
            <div class="col-6">
              <h2 class="content-header-title float-left mb-0 mr-2">
                {{ user.firstName }} {{ user.lastName }}
              </h2>
            </div>
            <div class="col-6">
              <div class="float-right">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <nuxt-link to="/admin">Dashboard</nuxt-link>
                  </li>
                  <li class="breadcrumb-item">
                    <nuxt-link to="/admin/users_roles/users">User</nuxt-link>
                  </li>
                  <li class="breadcrumb-item active">Details</li>
                </ol>
              </div>
            </div>
          </div>
          <hr />
          <div class="card-body">
            <div v-if="loading" class="text-center my-4">
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <br /><br />
              Retrieving data...
            </div>

            <div class="row detail" v-else>
              <div class="col-12 col-sm-9 col-md-6 col-lg-5">
                <table>
                  <tbody>
                    <tr>
                      <td class="font-weight-bold">Name</td>
                      <td>{{ user.firstName }} {{ user.lastName }}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Role</td>
                      <td v-if="user.Role">{{ user.Role.name }}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Phone number</td>
                      <td>{{ user.phone }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-12 col-md-12 col-lg-5">
                <table class="ml-0 ml-sm-0 ml-lg-0">
                  <tbody>
                    <tr>
                      <td class="font-weight-bold">Username</td>
                      <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Email</td>
                      <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Status</td>
                      <td>
                        <span
                          v-if="user.status == 'active'"
                          class="badge badge-pill badge-warning text-capitalize"
                          >{{ user.status }}</span
                        >
                        <span
                          v-else
                          class="badge badge-pill badge-secondary text-capitalize"
                          >{{ user.status }}</span
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-12 mt-2">
                <nuxt-link
                  :to="{ path: `/admin/users_roles/users/edit/${id}` }"
                  class="btn btn-primary mr-1"
                >
                  <i class="feather icon-edit-1"></i> Edit
                </nuxt-link>
                <nuxt-link
                  :to="{ path: '/admin/users_roles/users' }"
                  class="btn btn-outline-primary"
                  >Back</nuxt-link
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" v-if="!loading">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <i class="feather icon-lock mr-50"></i> Permission
            </div>
          </div>
          <hr />
          <div class="card-body pt-t">
            <div class="table-responsive users-view-permission">
              <table class="table table-borderless table-striped">
                <thead>
                  <tr>
                    <th>Permission</th>
                    <th>Read</th>
                    <th>Write</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(p, i) in permission_lists" :key="i">
                    <td class="text-capitalize">{{ p.name }}</td>
                    <td v-for="(pc, ipc) in p.permissions" :key="ipc">
                      <div class="custom-control custom-checkbox ml-50">
                        <input
                          type="checkbox"
                          :id="`checkbox${i}${ipc}`"
                          class="custom-control-input"
                          disabled
                          :checked="checkAssignedPermission(pc.id)"
                        />
                        <label
                          class="custom-control-label"
                          :for="`checkbox${i}${ipc}`"
                        ></label>
                      </div>
                    </td>
                    <td v-if="p.permissions.length == 1"></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Permission</th>
                    <th>Read</th>
                    <th>Write</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";

export default {
  meta: {
    permission: 'users:read'
  },
  data() {
    return {
      id: this.$route.params.id,
      user: {
        Permissions: [],
      },
      permission_lists: [],
    };
  },
  computed: {
    ...mapState(["loading"]),
    ...mapState("permissions", ["permissions"]),
  },
  methods: {
    async getUser() {
      try {
        const user = await this.$api.partner.getUser(this.id);
        this.user = user;
      } catch (error) {
        console.error(error);
      } finally {
        this.getRole(this.user.roleId);
        this.$store.commit("SET_LOADING", false);
      }
    },
    async getRole(role_id) {
      try {
        let data = await this.$api.partner.getRole(role_id);
        this.$set(this.user,"Role",data);
      } catch (error) {
        console.log(error);
      }
    },
    getPermissions() {
      let params = "perPage=9999&order=ASC";
      return this.$store.dispatch("permissions/list", params);
    },
    checkAssignedPermission(permissionid) {
      if(this.user.Role){
        let found = this.user.Role.permissions.find((p) => p === permissionid);
        if (found) return true;
        else return false;
      }else{
        return false;
      }
    },
  },
  async mounted() {
    this.$store.commit("SET_LOADING", true);
    await this.getUser();

    let copyOfPermission = await this.$api.partner.listPermission();

    copyOfPermission.data.forEach((p, i) => {
      let name = p.name;
      let found = this.permission_lists.find((per) => per.name.includes(name));

      if (!found) {
        this.permission_lists.push({
          name,
        });
      }

      if (copyOfPermission.data.length === ++i) {
        this.permission_lists.forEach((pl, pl_i) => {
          let permission_found = copyOfPermission.data.filter((cp) =>
            cp.name.includes(pl.name)
          );
          this.permission_lists[pl_i].permissions = permission_found;
        });
      }
    });
  },
};
</script>

<style>
.page-users-view .detail table td {
  padding-bottom: 0.8rem;
  min-width: 140px;
  word-break: break-word;
}

.page-users-view .users-view-permission .detail table td,
.page-users-view .users-view-permission .detail table th {
  padding-bottom: 0;
}
</style>
