<template>
  <section id="page-account-settings">
    <div class="card">
      <div class="card-content">
        <div class="card-header row">
          <div class="col-6">
            <h2 class="content-header-title float-left mb-0 mr-2">User</h2>
            <nuxt-link to="/admin/users_roles/users/new" class="btn btn-primary"
              >Add New User</nuxt-link
            >
          </div>
          <div class="col-6">
            <div class="float-right">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <nuxt-link to="/">Dashboard</nuxt-link>
                </li>
                <li class="breadcrumb-item active">User</li>
              </ol>
            </div>
          </div>
        </div>
        <hr />
        <div class="card-body">
          <section id="basic-datatable">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body pt-0">
                      <div class="row" v-if="!loading && admins.length > 1">
                        <div class="col-4 d-flex align-items-center">
                          <fieldset
                            class="form-group d-flex align-items-center"
                          >
                            <span>Show</span>
                            <select
                              class="form-control mx-1"
                              v-model="filter.perPage"
                              @change="getAdmins(true)"
                            >
                              <option value="5">5</option>
                              <option value="10">10</option>
                              <option value="15">15</option>
                              <option value="25">25</option>
                            </select>
                            <span>Entries</span>
                          </fieldset>
                        </div>
                        <div
                          class="col-4 d-flex align-items-center justify-content-center"
                        >
                          <fieldset class="form-group">
                            <input
                              type="text"
                              placeholder="Search by username"
                              class="form-control"
                              v-model="filter.search"
                              @keyup="getAdmins(true)"
                            />
                          </fieldset>
                        </div>
                        <div
                          class="col-4 d-flex align-items-center justify-content-end"
                        >
                          <fieldset
                            class="form-group d-flex align-items-center"
                          >
                            <label for="users-list-role" class="mr-2">Status</label>
                            <v-select
                              class="v-select-control v-select-status-custom"
                              :options="statuses"
                              v-model="filter.status"
                              @input="getAdmins(true)"
                            >
                              <template v-slot:option="option">
                                <span class="text-capitalize">{{ option.label == 'all' ? 'All' : option.label }}</span>
                              </template>
                            </v-select>
                          </fieldset>
                        </div>
                      </div>

                      <div v-show="loading" class="text-center my-4">
                        <div class="spinner-border" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <br /><br />
                        {{ loading_status ? 'Updating' : 'Retrieving' }} data...
                      </div>
                      <p
                        v-show="!loading && admins.length == 0"
                        class="text-center my-4"
                      >
                        No user data
                      </p>

                      <div
                        v-show="!loading && admins.length > 0"
                        class="table-responsive"
                      >
                        <table
                          class="table table-striped dataex-html5-selectors"
                        >
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Username</th>
                              <th>Email</th>
                              <th>Phone number</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="(c, i) in admins" :key="i">
                              <td>{{ c.firstName }} {{ c.lastName }}</td>
                              <td>{{ c.username }}</td>
                              <td>{{ c.email }}</td>
                              <td>{{ c.mobilenumber }}</td>
                              <td>
                                <span
                                  v-if="c.status == 'active'"
                                  class="badge badge-pill badge-warning text-capitalize"
                                  >{{ c.status }}</span
                                >
                                <span
                                  v-else
                                  class="badge badge-pill badge-secondary text-capitalize"
                                  >{{ c.status }}</span
                                >
                              </td>
                              <td>
                                <div class="dropdown">
                                  <button
                                    class="btn btn-outline-primary btn-sm dropdown-toggle mr-1 waves-effect waves-light text-capitalize"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                  >
                                    Action
                                  </button>
                                  <div
                                    class="dropdown-menu"
                                    aria-labelledby="dropdownMenuButton"
                                    x-placement="bottom-start"
                                    style="
                                      position: absolute;
                                      will-change: transform;
                                      top: 0px;
                                      left: 0px;
                                      transform: translate3d(0px, 38px, 0px);
                                    "
                                  >
                                    <nuxt-link
                                      :to="{
                                        path: `/admin/users_roles/users/${c.id}`,
                                      }"
                                      class="dropdown-item"
                                      >Details</nuxt-link
                                    >
                                    <nuxt-link
                                      :to="{
                                        path: `/admin/users_roles/users/edit/${c.id}`,
                                      }"
                                      class="dropdown-item"
                                      >Edit</nuxt-link
                                    >
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                          <tfoot v-if="admins.length > 5">
                            <tr>
                              <th>Name</th>
                              <th>Role</th>
                              <th>Username</th>
                              <th>Email</th>
                              <th>Phone number</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </tfoot>
                        </table>
                      </div>

                      <div
                        class="d-flex align-items-center justify-content-between"
                        v-if="!loading && admins.length > 0"
                      >
                        <p>
                          Show
                          <strong>{{ pagination.totalCurrentData }}</strong>
                          User, From
                          <strong>{{ pagination.totalData }}</strong> User
                        </p>
                       <nav>
                          <ul class="pagination justify-content-center mt-2">
                            <li class="page-item prev-item">
                              <a
                                class="page-link"
                                :class="{ disabled: !pagination.prev }"
                                @click.prevent="goToPage(pagination.prev)"
                                href="#"
                              ></a>
                            </li>
                            <li
                              class="page-item"
                              v-if="parseInt(pagination.currentPage) - 2 > 0"
                            >
                              <a
                                class="page-link"
                                href="#"
                                @click.prevent="
                                  goToPage(parseInt(pagination.currentPage) - 2)
                                "
                              >
                                {{ parseInt(pagination.currentPage) - 2 }}</a
                              >
                            </li>
                            <li
                              class="page-item"
                              v-if="parseInt(pagination.currentPage) - 1 > 0"
                            >
                              <a
                                class="page-link"
                                href="#"
                                @click.prevent="
                                  goToPage(parseInt(pagination.currentPage) - 1)
                                "
                                >{{ parseInt(pagination.currentPage) - 1 }}</a
                              >
                            </li>
                            <li class="page-item active">
                              <a class="page-link" href="#">{{
                                pagination.currentPage
                              }}</a>
                            </li>
                            <li
                              class="page-item"
                              v-if="
                                parseInt(pagination.currentPage) + 1 <=
                                pagination.totalPage
                              "
                            >
                              <a
                                class="page-link"
                                href="#"
                                @click.prevent="
                                  goToPage(parseInt(pagination.currentPage) + 1)
                                "
                                >{{ parseInt(pagination.currentPage) + 1 }}</a
                              >
                            </li>
                            <li
                              class="page-item"
                              v-if="
                                parseInt(pagination.currentPage) + 2 <=
                                pagination.totalPage
                              "
                            >
                              <a
                                class="page-link"
                                href="#"
                                @click.prevent="
                                  goToPage(parseInt(pagination.currentPage) + 2)
                                "
                                >{{ parseInt(pagination.currentPage) + 2 }}</a
                              >
                            </li>
                            <li class="page-item next-item">
                              <a
                                class="page-link"
                                :class="{ disabled: !pagination.next }"
                                @click.prevent="goToPage(pagination.next)"
                                href="#"
                              ></a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
  meta: {
    permission: 'users:read'
  },
  data() {
    return {
      admins: [],
      branches: [],
      filter: {
        status: "all",
        perPage: 10,
        search: "",
        page: 1,
      },
      pagination: {
        total: 1,
        currentData: 2,
        totalData: 2,
        next: null,
        prev: null,
        page: 1,
        current: 1,
      },
      loading_status: false,
      statuses: ['all', 'active', 'inactive']
    };
  },
  computed: {
    ...mapState(["loading"]),
  },
  mounted() {
    this.getAdmins(true);
  },
  methods: {
    async getAdmins(search) {
      if (!search) {
        this.$store.commit("SET_LOADING", true);
      }

      let params = "order=ASC";
      if (this.filter.status !== "all") params += `&status=${this.filter.status}`;
      if (this.filter.perPage) params += `&perPage=${this.filter.perPage}`;
      if (this.filter.search) params += `&name=${this.filter.search}`;
      if (this.filter.page) params += `&page=${this.filter.page}`;

      try {
        const admins = await this.$api.partner.listUser(this.filter);
        this.admins = admins.data;
        this.pagination = admins.pagination;
      } catch (error) {
        console.error(error);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    setStatus(b, status) {
      this.$swal({
        title: `<h4 class="text-weight-bold">${
          b.status == "active" ? "Deactivate" : "Activate"
        } ${b.firstName} ${b.lastName}</h4>`,
        text: "Confirm your action to change this user status",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
      }).then(async (answer) => {
        this.$store.commit("SET_LOADING", true);
        this.loading_status = true;

        if (answer.isConfirmed) {
          try {
            await this.$api.admins.setStatus(b.id, { status });
            this.$swal(
              `<h4 class="text-weight-bold">User status has been updated!</h4>`,
              "",
              "success"
            );
            this.getAdmins(true);
          } catch (error) {
            this.$swal(
              `<h5 class="text-weight-bold">Something wrong! please try again later</h5>`,
              "",
              "error"
            );
            console.error(error);
          } finally {
            this.loading_status = false;
            this.$store.commit("SET_LOADING", false);
          }
        }
      });
    },
    goToPage(page) {
      this.filter.page = page;
      this.getAdmins(true);
    },
  },
  components: {
    vSelect,
  },
};
</script>

<style>
</style>
