<template>
  <footer class="footer footer-static footer-light navbar-shadow">
    <p class="clearfix blue-grey lighten-2 mb-0">
      <span class="d-block text-center mt-25">
        COPYRIGHT &copy; 2020
        <nuxt-link
          class="text-bold-800 grey darken-2"
          to="/"
        >PIL,</nuxt-link>All rights Reserved
      </span>
      <button class="btn btn-primary btn-icon scroll-top" type="button">
        <i class="feather icon-arrow-up"></i>
      </button>
    </p>
  </footer>
</template>

<script>
export default {};
</script>

<style>
</style>