<template>
  <div class="horizontal-menu-wrapper hoz-menu">
    <div
      class="header-navbar navbar-expand-sm navbar navbar-horizontal floating-nav navbar-light navbar-without-dd-arrow navbar-shadow menu-border"
      role="navigation"
      data-menu="menu-wrapper"
    >
      <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
          <li class="nav-item mr-auto">
            <a class="navbar-brand" href="/">
              <div class="brand-logo"></div>
              <h2 class="brand-text mb-0">PIL</h2>
            </a>
          </li>
          <li class="nav-item nav-toggle">
            <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
              <i class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i>
              <i
                class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary"
                data-ticon="icon-disc"
              ></i>
            </a>
          </li>
        </ul>
      </div>
      <!-- Horizontal menu content-->
      <div class="navbar-container">
        <ul class="nav navbar-nav" id="main-menu-navigation">
          <template v-for="(m, i) in $store.state.menus">
            <li
              v-if="m.hasChild"
              :key="i"
              class="dropdown nav-item"
              data-menu="dropdown"
              @mouseover="showDropdown(`drp-${i}`)"
              @mouseleave="hideDropdown(`drp-${i}`)"
            >
              <nuxt-link
                class="dropdown-toggle nav-link no-click"
                :to="{ path: m.url }"
                data-toggle="dropdown"
              >
                <i class="feather" :class="m.icon"></i>
                <span :data-i18n="m.title">{{ m.title }}</span>
              </nuxt-link>
              <ul class="dropdown-menu" :ref="`drp-${i}`">
                <template v-for="(c, ic) in m.children">
                  <li v-if="c.divider" class="menu-titled" :key="ic">
                    <p class="dropdown-item item mb-0 mt-1 text-muted">
                      <small>{{ c.title }}</small>
                    </p>
                  </li>
                  <li
                    v-else-if="c.hasChild"
                    class="dropdown dropdown-submenu openLeft"
                    data-menu="dropdown-submenu"
                    :key="ic"
                    @mouseover="showDropdown(`drp-sub-${ic}`)"
                    @mouseleave="hideDropdown(`drp-sub-${ic}`)"
                  >
                    <nuxt-link
                      class="dropdown-item dropdown-toggle no-click"
                      :to="{ path: c.url }"
                      data-toggle="dropdown"
                    >{{ c.title }}</nuxt-link>
                    <ul class="dropdown-menu" :ref="`drp-sub-${ic}`">
                      <template v-for="(sub, sub_i) in c.children">
                        <li :key="sub_i">
                          <n-link
                            :to="{ path: sub.url }"
                            class="dropdown-item"
                            data-toggle="dropdown"
                            :data-i18n="sub.title"
                          >{{ sub.title }}</n-link>
                        </li>
                      </template>
                    </ul>
                  </li>
                  <li v-else data-menu :key="ic">
                    <n-link
                      :to="{ path: c.url }"
                    
                      class="dropdown-item"
                      data-toggle="dropdown"
                      :data-i18n="c.title"
                    >{{ c.title }}</n-link>
                  </li>
                </template>
              </ul>
            </li>
            <li v-else class="nav-item" :key="i">
              <n-link :to="{ path: m.url}" class="nav-link">
                <i class="feather" :class="m.icon"></i>
                <span :data-i18n="m.title">{{ m.title }}</span>
              </n-link>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      permissions: [],
      permissions_role: []
    };
  },
  async mounted() {
    // let data = await this.$api.partner.listPermission();
    // this.permissions = data.data;
    // let data2 = await this.$api.auth.check();
    // let user = await this.$api.partner.getUser(data2.data.user.id);
    // let role = await this.$api.partner.getRole(user.roleId);
    // this.permissions_role = role.permissions;
  },
  methods: {
    // checkPermitted(data) {
    //   var result = false;
    //   var permission = this.permissions.find(c => c.slug == data);
    //   if (permission != undefined) {
    //     var pr = this.permissions_role.find(c => c == permission.id);
    //     result = pr != undefined;
    //   }
    //   return result;
    // },
    showDropdown(ref) {
      this.$refs[ref].forEach(r => {
        r.classList.add("show");
      });
    },
    hideDropdown(ref) {
      this.$refs[ref].forEach(r => {
        r.classList.remove("show");
      });
    }
  }
};
</script>

<style>
</style>
