<template>
  <div v-show="show">
    <div class="modal-overlay" @click="handleCloseModal" />
    <div
      :class="{
        'modal-default': true,
        'modal-lg': size === 'large',
        'modal-sm': size === 'small',
      }"
    >
      <div class="modal__content">
        <slot />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.modal-overlay {
  background: #0000004d;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1049;
}

.modal-default {
  background: #ffffff;
  border-radius: 0.5rem;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1050;
  transform: translate(0, -50%);
  -webkit-animation: fade 0.4s linear;
  animation: fade 0.4s linear;
}

.modal__content {
  max-height: 90vh;
  overflow-y: auto;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>

<script>
export default {
  name: 'ModalDefault',
  props: {
    size: {
      type: String,
      default: 'small'
    },
    show: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handleCloseModal() {
      if (typeof this.$listeners.close !== 'undefined') {
        this.$emit('close')

        return
      }

      this.$emit('update:show', false)
    }
  }
}
</script>
