<template>
  <section id="page-account-settings">
    <div class="card">
      <div class="card-content">
        <div class="card-header row">
          <div class="col-6">
            <h2 class="content-header-title float-left mb-0 mr-2">Role {{ role.name }}</h2>
          </div>
          <div class="col-6">
            <div class="float-right">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <nuxt-link to="/admin">Dashboard</nuxt-link>
                </li>
                <li class="breadcrumb-item">
                  <nuxt-link to="/admin/users_roles/roles">Role</nuxt-link>
                </li>
                <li class="breadcrumb-item active">Assign permission</li>
              </ol>
            </div>
          </div>
        </div>
        <hr />
        <div class="card-body">
          <div v-if="loading" class="text-center my-4">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <br /><br />
            Retrieving data...
          </div>
          <div class="table-responsive users-view-permission" v-else>
            <table class="table table-borderless table-striped">
              <thead>
                <tr>
                  <th>Permission</th>
                  <th>Status</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr v-for="(p, i) in permission_lists" :key="i">
                  <td class="text-capitalize">{{ p.name }}</td>
                  <td v-for="(pc, ipc) in p.permissions" :key="ipc">
                    <div class="custom-control custom-checkbox ml-50">
                      <input
                        type="checkbox"
                        :id="`checkbox${i}${ipc}`"
                        class="custom-control-input"
                        @input="setPermissionsIds(pc)"
                        :checked="checkAssignedPermission(pc.id)"
                      />
                      <label
                        class="custom-control-label"
                        :for="`checkbox${i}${ipc}`"
                      ></label>
                    </div>
                  </td>
                  
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Permission</th>
                  <th>Status</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <hr>
          <div class="row">
            <div
              class="col-12 d-flex flex-sm-row flex-column justify-content-end"
            >
              <button
                type="submit"
                class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                @click.prevent="assignPermissions"
              >
                <span v-if="!loading_form">Assign permission</span>
                <span
                  v-else
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
              </button>
              <nuxt-link
                :to="{
                  path: `/admin/users_roles/roles`,
                }"
                class="btn btn-outline-warning"
              >
                Cancel
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";

export default {
  meta: {
    permission: 'roles:write'
  },
  data() {
    return {
      id: this.$route.params.id,
      role: {},
      loading_form: false,
      permission_lists: [],
      form: {
        permissionIds: []
      }
    };
  },
  methods: {
    async getRole() {
      try {
        let role = await this.$api.partner.getRole(this.id);
        this.role = role;
        role.permissions.forEach(p => {
          this.form.permissionIds.push(p);
        });
      } catch (error) {
        console.log(error);
      }
    },
    getPermissions() {
      let params = "perPage=9999&order=ASC";
      return this.$api.partner.listPermission(params);
    },
    setPermissionsIds(permission) {
      let found = this.form.permissionIds.find(p => p == permission.id);
      if (!found) {
        this.form.permissionIds.push(permission.id);
      } else {
        let index = this.form.permissionIds.indexOf(permission.id);
        this.form.permissionIds.splice(index, 1);
      }
    },
    async assignPermissions() {
      this.loading_form = true;

      try {
        console.log("this.form",this.form);
        let response = this.$api.partner.updateRole(this.id, {
          name: this.role.name,
          permissions: this.form.permissionIds
        });
        this.$swal(
          `<h4 class="text-weight-bold">${this.form.permissionIds.length} assigned to ${this.role.name}!</h4>`,
          `${this.$store.state.auth.role.id == this.id ? 'permission assigned to logined user' : '' }`,
          "success"
        );
        this.$router.push("/admin/users_roles/roles");
      } catch (error) {
        console.log(error)
      } finally {
        this.loading_form = false;
      }
    },
    checkAssignedPermission(permissionid) {
      let found = this.form.permissionIds.find(p => p === permissionid);
      if (found) return true;
      else return false;
    }
  },
  async mounted() {
    this.$store.commit("SET_LOADING", true);
    await this.getRole();
    this.$store.commit("SET_LOADING", false);

    let copyOfPermission = await this.$api.partner.listPermission();

    copyOfPermission.data.forEach((p, i) => {
      let name = p.name;
      let found = this.permission_lists.find(per => per.name.includes(name));

      if (!found) {
        this.permission_lists.push({
          name
        });
      }

      if (copyOfPermission.data.length === ++i) {
        this.permission_lists.forEach((pl, pl_i) => {
          let permission_found = copyOfPermission.data.filter(cp => cp.name.includes(pl.name));
          this.permission_lists[pl_i].permissions = permission_found;

          // if (this.permission_lists.length === ++pl_i)
          //   console.log('yeayyy ', this.permission_lists);
        });
      }
    });
  },
  computed: {
    ...mapState(["loading"]),
    // ...mapState("permissions", ["permissions"]),
  },
};
</script>

<style>
</style>