<template>
  <section class="page-users-view">
    <div class="card mt-75">
      <div class="card-header row">
        <div class="col-6">
          <h2 class="content-header-title float-left mb-0 mr-2">
            Customer Details
          </h2>
        </div>
        <div class="col-6">
          <div class="float-right">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <nuxt-link to="/admin/customer">Customer</nuxt-link>
              </li>
              <li class="breadcrumb-item active">
                Detail
              </li>
            </ol>
          </div>
        </div>
      </div>
      <hr />
      <div class="card-body">
        <div v-if="loading" class="text-center my-4">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <br /><br />
          data...
        </div>

        <div class="row" v-if="!loading && Object.keys(customer).length > 0">
          <div class="col-12 col-md-4 mb-2">
            <table style="border-collapse: separate; border-spacing:0 20px;">
              <tr>
                <td class="font-weight-bold">Name</td>
                <td class="pl-5">{{ customer.name }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Phone Number</td>
                <td class="pl-5">{{ customer.mobileNumber || "-" }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Refferal Code</td>
                <td class="pl-5">{{ customer.referralCode || "-" }}</td>
              </tr>
               
               
            </table>
          </div>
          <div class="col-12 col-md-4">
            <table
              class="ml-0 ml-sm-0 ml-lg-0"
              style="border-collapse: separate; border-spacing:0 20px;"
            >
            <tr>
                <td class="font-weight-bold">ID Type</td>
                <td class="pl-5">{{ customerDetail.idType || "-"}}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Account Number</td>
                <td class="pl-5">{{ customer.accountNumber || "-" }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Account Type</td>
                <td class="pl-5">{{ customer.accountType || "-" }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Account Status</td>
                <td class="pl-5">{{ customer.accountStatus || "-" }}</td>
              </tr>
            </table>
          </div>
           <div class="col-12 col-md-4">
            <table
              class="ml-0 ml-sm-0 ml-lg-0"
              style="border-collapse: separate; border-spacing:0 20px;"
            >
              
              <tr>
                <td class="font-weight-bold">Country</td>
                <td class="pl-5">{{ customer.country || "-" }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Province</td>
                <td class="pl-5">{{ customer.province || "-" }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">City</td>
                <td class="pl-5">{{ customer.city || "-" }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Address</td>
                <td class="pl-5">{{ customer.address || "-" }}</td>
              </tr>
            </table>
          </div>
         
          <div class="col-12 mt-2">
            
            <nuxt-link
              :to="{ path: '/admin/customer' }"
              class="btn btn-outline-primary"
              >back</nuxt-link
            >
          </div>
        </div>
      </div>
    </div>

    <div class="card" v-if="!loading">
      <div class="card-header">
        <div class="card-title"></div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <p class="text-muted ">Partner Information</p>
          <table
            v-if="partners.length"
            class="table table-striped dataex-html5-selectors"
          >
            <thead>
              <tr>
                <th>No</th>
                <th>Partner Name</th>
                <th>Partner Account Number</th>
                <th class="pl-0">Partner Key</th>
                <th>Partner Email</th>
                <th>Partner Status</th>
                
              </tr>
            </thead>
            <tbody>
              <tr v-for="(c, i) in partners" :key="i">
                <td>{{ i + 1 }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.accountNumber }}</td>
                <td class="pr-4 pl-0" style="max-width: 150px;">{{ c.partnerKey }}</td>
                <td>{{ c.email }}</td>

                <td>
                  <span
                    v-if="c.isActive === true"
                    class="badge badge-pill badge-warning text-capitalize"
                    >active</span
                  >
                  <span
                    v-else
                    class="badge badge-pill badge-secondary text-capitalize"
                    >inactive</span
                  >
                </td>
                
              </tr>
            </tbody>
          </table>
          <div v-else>
            <p class="text-center">No partners data found..</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";

const apiKey = process.env.GOOGLE_MAPS_API_KEY;

export default {
  meta: {
    permission: "companies:read"
  },
  validate({ params }) {
    return /^\d+$/.test(params.id);
  },
  data() {
    return {
      customer: {},
      id: this.$route.params.id,
      map: {},
      city: {},
      province: {},
      country: {},
      partners: [],
      customerDetail: {},
    };
  },
  computed: {
    ...mapState(["loading"])
  },
  methods: {
    async getCustomers() {
      try {
        const customer = await this.$api.partner.getCustomerDetail(this.id);
        console.log(customer.extendedDetail.idType);
        this.customer = customer;
        this.customerDetail = customer.extendedDetail;
      } catch (error) {
        console.error(error);
      }
    },
    async getPartner() {
      try {
        const partners = await this.$api.partner.getCustomerPartner(this.id);
        console.log(partners);
        this.partners = partners;
      } catch (error) {
        console.error(error);
      }
    },
  },
  async mounted() {
    this.$store.commit("SET_LOADING", true);
    await this.getCustomers();
    await this.getPartner();
    this.$store.commit("SET_LOADING", false);
  }
};
</script>

<style scoped>
#map {
  height: 255px;
}
.card-map {
  height: 300px;
}
</style>
