<template>
  <section id="page-account-settings">
    <div class="card">
      <div class="card-content">
        <div class="card-header row">
          <div class="col-6">
            <h2 class="content-header-title float-left mb-0 mr-2">Customers</h2>
          </div>
          <div class="col-6">
            <div class="float-right">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <nuxt-link to="/">Customers</nuxt-link>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <hr />
        <div class="card-body">
          <section id="basic-datatable">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body pt-0">
                      <div
                        class="row d-flex flex"
                        v-if="!loading && customer.length > 0"
                      >
                        <div class="col-4 d-flex align-items-center">
                          <fieldset
                            class="form-group d-flex align-items-center"
                          >
                            <span>show</span>
                            <select
                              class="form-control mx-1"
                              v-model="filter.perPage"
                              @change="handleSearch(false)"
                            >
                              <option value="5">5</option>
                              <option value="10">10</option>
                              <option value="15">15</option>
                              <option value="25">25</option>
                            </select>
                            <span>{{ "entries" }}</span>
                          </fieldset>
                        </div>
                        <div
                          class="col-8 d-flex align-items-center justify-content-end"
                        >
                          <form @submit.prevent="handleSearch">
                            <div class="row">
                              <div class="form-group">
                                <div class="controls">
                                  <input
                                    type="text"
                                    class="form-control"
                                    v-model="filter.name"
                                    placeholder="Customer name"
                                  />
                                </div>
                              </div>
                              <div class="form-group ml-1">
                                <div class="controls">
                                  <input
                                    type="number"
                                    class="form-control"
                                    v-model="filter.mobileNumber"
                                    placeholder="Customer phone"
                                  />
                                </div>
                              </div>
                              <div class="form-group ml-1">
                                <div class="controls">
                                  <input
                                    type="text"
                                    class="form-control"
                                    v-model="filter.partnerName"
                                    placeholder="Partner name"
                                  />
                                </div>
                              </div>
                              <div>
                                <button
                                  type="submit"
                                  class="btn btn-primary mr-sm-1 mb-1 mb-sm-0 ml-1"
                                >
                                  <span v-if="!loading">Search</span>
                                  <span
                                    v-else
                                    class="spinner-border spinner-border-sm"
                                    role="status"
                                    aria-hidden="true"
                                  ></span>
                                </button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>

                      <div v-show="loading" class="text-center my-4">
                        <div class="spinner-border" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <br /><br />
                        {{ "retrieving" }} data...
                      </div>
                      <p
                        v-show="!loading && customer.length == 0"
                        class="text-center my-4"
                      >
                        no customer data
                      </p>

                      <div
                        v-show="!loading && customer.length > 0"
                        class="table-responsive"
                      >
                        <table
                          class="table table-striped dataex-html5-selectors"
                        >
                          <thead>
                            <tr>
                              <th>Account Number</th>
                              <th>Name</th>
                              <th>Mobile Number</th>
                              <th>Country</th>
                              <th>Province</th>
                              <th>City</th>
                              <th>Postal Code</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="(c, i) in customer" :key="i">
                              <td>{{ c.accountNumber }}</td>
                              <td>{{ c.name }}</td>
                              <td>{{ c.mobileNumber }}</td>
                              <td>{{ c.country }}</td>
                              <td>{{ c.province }}</td>
                              <td>{{ c.city }}</td>
                              <td>{{ c.postalCode }}</td>

                              <td v-if="!partnerAccountNumber">
                                <span
                                  v-if="c.isActive === true"
                                  class="badge badge-pill badge-warning text-capitalize"
                                  >active</span
                                >
                                <span
                                  v-else
                                  class="badge badge-pill badge-secondary text-capitalize"
                                  >inactive</span
                                >
                              </td>
                              <td v-else>
                                <span
                                  v-if="c.customerPartnerStatus === true"
                                  class="badge badge-pill badge-warning text-capitalize"
                                  >active</span
                                >
                                <span
                                  v-else
                                  class="badge badge-pill badge-secondary text-capitalize"
                                  >inactive</span
                                >
                              </td>
                              <td>
                                <div class="dropdown">
                                  <button
                                    class="btn btn-outline-primary btn-sm dropdown-toggle mr-1 waves-effect waves-light text-capitalize"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                  >
                                    Action
                                  </button>
                                  <div
                                   v-if="!partnerAccountNumber"
                                    class="dropdown-menu"
                                    aria-labelledby="dropdownMenuButton"
                                    x-placement="bottom-start"
                                    style="
                                      position: absolute;
                                      will-change: transform;
                                      top: 0px;
                                      left: 0px;
                                      transform: translate3d(0px, 38px, 0px);
                                    "
                                  >
                                    <a
                                      v-if="c.isActive === false"
                                      @click="activated(c, 'active')"
                                      type="button"
                                      class="dropdown-item"
                                      >activated</a
                                    >
                                    <a
                                      v-if="c.isActive === true"
                                      class="dropdown-item"
                                      href
                                      @click.prevent="deactivated(c)"
                                      >deactivated</a
                                    >
                                    <nuxt-link
                                      :to="{
                                        path: `/admin/customer/${c.accountNumber}`
                                      }"
                                      class="dropdown-item"
                                      >details</nuxt-link
                                    >
                                  </div>
                                  <div
                                  v-else
                                    class="dropdown-menu"
                                    aria-labelledby="dropdownMenuButton"
                                    x-placement="bottom-start"
                                    style="
                                      position: absolute;
                                      will-change: transform;
                                      top: 0px;
                                      left: 0px;
                                      transform: translate3d(0px, 38px, 0px);
                                    "
                                  >
                                    <a
                                      v-if="c.customerPartnerStatus === false"
                                      @click="activated(c, 'active')"
                                      type="button"
                                      class="dropdown-item"
                                      >activated</a
                                    >
                                    <a
                                      v-if="c.customerPartnerStatus === true"
                                      class="dropdown-item"
                                      href
                                      @click.prevent="deactivated(c)"
                                      >deactivated</a
                                    >
                                    <nuxt-link
                                      :to="{
                                        path: `/admin/customer/${c.accountNumber}`
                                      }"
                                      class="dropdown-item"
                                      >details</nuxt-link
                                    >
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div
                        class="d-flex align-items-center justify-content-between"
                        v-if="!loading && customer.length > 0"
                      >
                        <p>
                          Show
                          <strong>{{ pagination.totalCurrentData }}</strong>
                          customers from
                          <strong>{{ pagination.totalData }}</strong> customers
                        </p>
                        <nav>
                          <ul class="pagination justify-content-center mt-2">
                            <li class="page-item prev-item">
                              <a
                                class="page-link"
                                :class="{ disabled: !pagination.prev }"
                                @click.prevent="goToPage(pagination.prev)"
                                href="#"
                              ></a>
                            </li>
                            <li
                              class="page-item"
                              v-if="parseInt(pagination.currentPage) - 2 > 0"
                            >
                              <a
                                class="page-link"
                                href="#"
                                @click.prevent="
                                  goToPage(parseInt(pagination.currentPage) - 2)
                                "
                              >
                                {{ parseInt(pagination.currentPage) - 2 }}</a
                              >
                            </li>
                            <li
                              class="page-item"
                              v-if="parseInt(pagination.currentPage) - 1 > 0"
                            >
                              <a
                                class="page-link"
                                href="#"
                                @click.prevent="
                                  goToPage(parseInt(pagination.currentPage) - 1)
                                "
                                >{{ parseInt(pagination.currentPage) - 1 }}</a
                              >
                            </li>
                            <li class="page-item active">
                              <a class="page-link" href="#">{{
                                pagination.currentPage
                              }}</a>
                            </li>
                            <li
                              class="page-item"
                              v-if="
                                parseInt(pagination.currentPage) + 1 <=
                                  pagination.totalPage
                              "
                            >
                              <a
                                class="page-link"
                                href="#"
                                @click.prevent="
                                  goToPage(parseInt(pagination.currentPage) + 1)
                                "
                                >{{ parseInt(pagination.currentPage) + 1 }}</a
                              >
                            </li>
                            <li
                              class="page-item"
                              v-if="
                                parseInt(pagination.currentPage) + 2 <=
                                  pagination.totalPage
                              "
                            >
                              <a
                                class="page-link"
                                href="#"
                                @click.prevent="
                                  goToPage(parseInt(pagination.currentPage) + 2)
                                "
                                >{{ parseInt(pagination.currentPage) + 2 }}</a
                              >
                            </li>
                            <li class="page-item next-item">
                              <a
                                class="page-link"
                                :class="{ disabled: !pagination.next }"
                                @click.prevent="goToPage(pagination.next)"
                                href="#"
                              ></a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { isEmpty } from "lodash";

export default {
  meta: {
    permission: "cashier:read"
  },
  data() {
    return {
      customer: [],
      branches: [],
      filter: {
        mobileNumber: null,
        name: null,
        partnerName: null,
        page: 1,
        perPage: 10
      },
      pagination: {
        total: 1,
        currentData: 2,
        totalData: 2,
        next: null,
        prev: null,
        page: 1,
        current: 1
      },
      partnerAccountNumber: this.$route.query.id,
    };
  },
  computed: {
    ...mapState(["loading"])
  },
  async mounted() {
    if (!isEmpty(this.$route.query))
      await this.getCustomerByPartner(this.$route.query.id);
    else await this.getCustomer(false);
    console.log('partnerAccountNumber-->', this.partnerAccountNumber);
  },
  methods: {
    async getCustomer(search) {
      if (!search) {
        this.$store.commit("SET_LOADING", true);
      }

      let params = {
        page: this.filter.page,
        perPage: this.filter.perPage
      };

      const filter = {};
      if (this.filter.name) Object.assign(filter, { name: this.filter.name });
      if (this.filter.mobileNumber)
        Object.assign(filter, { mobileNumber: this.filter.mobileNumber });
      if (this.filter.partnerName)
        Object.assign(filter, { partnerName: this.filter.partnerName });
      if (Object.keys(filter).length) Object.assign(params, { filter });

      try {
        const customer = await this.$api.partner.getCustomer(params);
        this.customer = customer.data;
        this.pagination = customer.pagination;
      } catch (error) {
        console.error(error);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    async getCustomerByPartner(id, search) {
      if (!search) {
        this.$store.commit("SET_LOADING", true);
      }
      let params = {
        page: this.filter.page,
        perPage: this.filter.perPage,
        id,
      };

      const filter = {};
      if (this.filter.name) Object.assign(filter, { name: this.filter.name });
      if (this.filter.mobileNumber)
        Object.assign(filter, { mobileNumber: this.filter.mobileNumber });
      if (this.filter.partnerName)
        Object.assign(filter, { partnerName: this.filter.partnerName });
      if (Object.keys(filter).length) Object.assign(params, { filter });

      try {
        const customer = await this.$api.partner.getCustomerByPartner(params);
        this.customer = customer.data;
        this.pagination = customer.pagination;
      } catch (error) {
        console.error(error);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    async activated(data) {
      this.$swal({
        title: `<h4 class="text-weight-bold">
        Activate
         ${data.name}</h4>`,
        text: "Confirm your action to activate this customer",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33"
      }).then(async answer => {
        if (answer.isConfirmed) {
          try {
            if (isEmpty(this.$route.query)) {
              await this.$api.partner.activatedCustomer(data.accountNumber);
            } else {
              const partnerId = this.$route.query.id;
              const customerId = data.accountNumber;
              await this.$api.partner.activatedCustomerByPartner(
                customerId,
                partnerId
              );
            }
            this.$swal(
              `<h4 class="text-weight-bold"> ${data.name} is active now!</h4>`,
              "",
              "success"
            );
            if (isEmpty(this.$route.query)) this.getCustomer(false);
            else this.getCustomerByPartner(this.$route.query.id)
          } catch (error) {
            this.$swal(
              `<h5 class="text-weight-bold">Something wrong! please try again later</h5>`,
              "",
              "error"
            );
            console.error(error);
          }
        }
      });
    },
    async deactivated(data) {
      this.$swal({
        title: `<h4 class="text-weight-bold">
        Activate
         ${data.name}</h4>`,
        text: "Confirm your action to deactivate this partner",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33"
      }).then(async answer => {
        if (answer.isConfirmed) {
          try {
            if (isEmpty(this.$route.query)) {
             await this.$api.partner.deactivatedCustomer(data.accountNumber);
            } else {
              const partnerId = this.$route.query.id;
              const customerId = data.accountNumber;
              await this.$api.partner.deactivatedCustomerByPartner(
                customerId,
                partnerId
              );
            }
            
            this.$swal(
              `<h4 class="text-weight-bold"> ${data.name} is not not active now</h4>`,
              "",
              "success"
            );
            if (isEmpty(this.$route.query)) this.getCustomer(false);
            else this.getCustomerByPartner(this.$route.query.id)
          } catch (error) {
            this.$swal(
              `<h5 class="text-weight-bold">Something wrong! please try again later</h5>`,
              "",
              "error"
            );
            console.error(error);
          }
        }
      });
    },
    goToPage(page) {
      this.filter.page = page;
      if (isEmpty(this.$route.query)) this.getCustomer(false);
      else this.getCustomerByPartner(this.$route.query.id)
    },
    handleSearch(page) {
      this.filter.page = page;
      if (isEmpty(this.$route.query)) this.getCustomer(false);
      else this.getCustomerByPartner(this.$route.query.id)
    }
  },
  components: {
    vSelect
  }
};
</script>

<style></style>
