<template>
  <section id="page-account-settings">
    <div class="card">
      <div class="card-content">
        <div class="card-header row">
          <div class="col-6">
            <h2 class="content-header-title float-left mb-0 mr-2">
              {{ $tc('add_new') }} {{ $tc('menus.cashier', 0) }}
            </h2>
          </div>
          <div class="col-6">
            <div class="float-right">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <nuxt-link to="/admin">{{ $tc('menus.dashboard') }}</nuxt-link>
                </li>
                <li class="breadcrumb-item">
                  <nuxt-link to="/admin/partners/cashiers">{{ $tc('menus.cashier') }}</nuxt-link>
                </li>
                <li class="breadcrumb-item active">{{ $tc('add_new') }}</li>
              </ol>
            </div>
          </div>
        </div>
        <hr />
        <div class="card-body">
          <section id="basic-datatable">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body pt-0">
                      <form @submit.prevent="createCashier">
                        <div class="form-group text-center mb-4">
                          <h4>{{ $tc('label.select_branch') }}:</h4>
                          <v-select
                            class="v-select-control"
                            :options="branches"
                            label="name"
                            :reduce="(c) => c.id"
                            v-model="form.BranchId"
                          ></v-select>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="company-name">{{ $tc('label.name') }}</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  required
                                  v-model="form.firstName"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="company-username">{{ $tc('label.username') }}</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  required
                                  v-model="form.username"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="email">Email</label>
                                <input
                                  type="email"
                                  class="form-control"
                                  required
                                  v-model="form.email"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="company-name">{{ $tc('label.phone_number') }}</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  required
                                  v-model="form.phone"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="account-e-mail"
                                  >{{ $tc('label.id_card') }}</label
                                >
                                <input
                                  type="number"
                                  class="form-control"
                                  v-model="form.noKTP"
                                  required
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="account-company"
                                >{{ $tc('label.doc_id_card') }}</label
                              >
                              <input
                                type="file"
                                class="form-control"
                                data-max-size="1048576"
                                accept="image/jpeg,image/png,application/pdf"
                                ref="docKTP"
                                @change="upload('docKTP')"
                                required
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div
                            class="col-12 d-flex flex-sm-row flex-column justify-content-end"
                          >
                            <button
                              type="submit"
                              class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                            >
                              <span v-if="!loading">{{ $tc('add') }} {{ $tc('menus.cashier', 0) }}</span>
                              <span
                                v-else
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                              ></span>
                            </button>
                            <nuxt-link
                              :to="{ path: '/admin/partners/cashiers' }"
                              class="btn btn-outline-warning"
                            >
                              {{ $tc('cancel') }}
                            </nuxt-link>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { isNull } from 'util';

export default {
  meta: {
    permission: 'cashier:write'
  },
  data() {
    return {
      form: {
        BranchId: 1,
        firstName: '',
        username: '',
        email: '',
        phone: '',
        noKTP: '',
        docKTP: ''
      },
      branches: [],
    };
  },
  computed: {
    ...mapState(["loading"]),
  },
  methods: {
    async getBranches() {
      let params = "sortBy=CREATED_AT&sortDirection=DESC";

      try {
        const branches = await this.$api.branches.list(params);
        this.branches = branches.data;
      } catch (error) {
        console.error(error);
      }
    },
    async createCashier() {
      this.$store.commit("SET_LOADING", true);

      try {
        const response = await this.$api.cashiers.create(this.form);
        this.$swal(
          `<h4 class="text-weight-bold">${this.$tc('menus.cashier', 0)} ${this.$tc('message.has_been_created')}</h4>`,
          "",
          "success"
        );
        this.$router.push("/admin/partners/cashiers");
      } catch (error) {
        if (error.response.status == 500) {
          this.$swal(
            `<h4 class="text-weight-bold">${this.$tc('message.error_500')}</h4>`,
            "",
            "error"
          );
        } else {
          this.$swal(
            `<h4 class="text-weight-bold">${error.response.data.message}</h4>`,
            "",
            "error"
          );
        }
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    async upload(ref) {
      const input = this.$refs[ref];
      const max_size = parseInt(input.getAttribute('data-max-size'));
      const file_size = input.files[0].size;

      if (file_size > max_size) {
        const err_max_size = document.createElement('P');
        err_max_size.innerHTML = `${input.files[0].name} ${this.$tc('message.is_too_big')}. ${this.$tc('message.max_size')}: ${max_size / (1024*1024)}MB`;
        err_max_size.classList.add('mt-1', 'text-danger');
        input.parentNode.appendChild(err_max_size);
        this.form[ref] = '';
        input.value = '';
      } else {
        const dir = "cashiers";
        let formData = new FormData();
  
        formData.append("file", input.files[0]);
        formData.append("dir", dir);
  
        try {
          const response = await this.$api.utils.upload(formData);
          this.form[ref] = response.downloadPathUrl;
        } catch (error) {
          console.log(error)
        }
      }
    },
  },
  mounted() {
    this.getBranches();
  },
  components: {
    vSelect,
  },
};
</script>

<style></style>
