<template>
  <section id="page-account-settings">
    <div class="card">
      <div class="card-content">
        <div class="card-header row">
          <div class="col-6">
            <h2 class="content-header-title float-left mb-0 mr-2">
              Edit Customer
            </h2>
          </div>
          <div class="col-6">
            <div class="float-right">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <nuxt-link to="/admin/customer">Customers</nuxt-link>
                </li>
                <li class="breadcrumb-item active">edit</li>
              </ol>
            </div>
          </div>
        </div>
        <hr />
        <div class="card-body">
          <section id="basic-datatable">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body pt-0">
                      <form @submit.prevent="updateCustomer">
                        <!-- GENERAL INFORMATION -->
                        <p class="text-muted mt-3">General Information</p>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="company-name">Name</label>
                                <input
                                  type="text"
                                  class="form-control"
                                   
                                  v-model="form.name"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="company-username">Phone</label>
                                <input
                                  type="number"
                                  class="form-control"
                                   
                                  v-model="form.mobileNumber"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                         <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="company-name">Account Number</label>
                                <input
                                  type="number"
                                  class="form-control"
                                   
                                  v-model="form.accountNumber"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="company-username">Account Type</label>
                                <input
                                  type="text"
                                  class="form-control"
                                   
                                  v-model="form.accountType"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                         <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="company-name">Referral Code</label>
                                <input
                                  type="text"
                                  class="form-control"
                                   
                                  v-model="form.referralCode"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="company-username">BNI VA Account</label>
                                <input
                                  type="number"
                                  class="form-control"
                                   
                                  v-model="form.bniVaAccount"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- ADDRESS -->
                        <p class="text-muted mt-3">Address</p>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="account-e-mail">Country</label>
                                <v-select
                                  class="v-select-control"
                                  label="name"
                                  :options="countries"
                                  v-model="country_selected"
                                  @input="getProvinces"
                                ></v-select>
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="account-company">Province</label>
                              <v-select
                                class="v-select-control"
                                label="name"
                                :options="provinces"
                                v-model="province_selected"
                                @input="getCities"
                              ></v-select>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <label for="account-company">City</label>
                              <v-select
                                class="v-select-control"
                                label="name"
                                :options="cities"
                                v-model="city_selected"
                              ></v-select>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="account-company">Postal Code</label>
                              <input
                                type="number"
                                class="form-control"
                                 
                                v-model="form.postalCode"
                              />
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <label for="account-company">Address</label>
                              <textarea
                                class="form-control"
                                rows="2"
                                v-model="form.address"
                                @keyup="onChangeAddress"
                              ></textarea>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-12">
                            <div ref="map" id="map" class="mb-3"></div>
                          </div>
                        </div>

                        <div class="row">
                          <div
                            class="col-12 d-flex flex-sm-row flex-column justify-content-end"
                          >
                            <button
                              type="submit"
                              class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                            >
                              <span v-if="!loading">Save</span>
                              <span
                                v-else
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                              ></span>
                            </button>
                            <nuxt-link
                              :to="{ path: '/admin/customer' }"
                              class="btn btn-outline-warning"
                            >
                              Cancel
                            </nuxt-link>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { debounce } from "lodash";

const apiKey = process.env.GOOGLE_MAPS_API_KEY;

export default {
  meta: {
    permission: "cashier:write"
  },
  validate({ params }) {
    return /^\d+$/.test(params.id);
  },
  data() {
    return {
      countries: [],
      provinces: [],
      cities: [],
      country_selected: {
        name: ""
      },
      province_selected: {
        name: ""
      },
      city_selected: {
        name: ""
      },
      id: this.$route.params.id,
      form: {
        name: "",
        mobileNumber: "",
        address: "",
        city: "",
        province: "",
        country: "",
        postalCode: "",
        bniVaAccount: "",
        referralCode: "",
        accountNumber: "",
        accountType: "",
      },
      partners: [],
      branches: [],
      map: {},
      mapMarkers: []
    };
  },
  computed: {
    ...mapState(["loading"])
  },
  methods: {
    async getCustomers() {
      try {
        const cashier = await this.$api.partner.getCustomerDetail(this.id);
        console.log(cashier);
        this.form = cashier;
        this.country_selected.name = cashier.country;
        this.city_selected.name = cashier.city;
        this.province_selected.name = cashier.province;
       
      } catch (error) {
        console.error(error);
      }
    },
    async getPartner() {
      try {
        const partners = await this.$api.partner.getCustomerPartner(this.id);
        console.log(partners);
        this.partners = partners;
      } catch (error) {
        console.error(error);
      }
    },
    async updateCustomer() {
      this.$store.commit("SET_LOADING", true);

     
      const params = this.form;
      params.city = this.city_selected.name;
      params.country = this.country_selected.name;
      params.province = this.province_selected.name;
      params.coordinates = `${this.form.lat} , ${this.form.long}`;
      try {
        const response = await this.$api.partner.updateCustomer(
          this.id,
          params
        );
        this.$swal(
          `<h4 class="text-weight-bold">Customer has been updated</h4>`,
          "",
          "success"
        );
        this.$router.push("/admin/customer");
      } catch (error) {
        this.$swal(`<h5 class="text-weight-bold">error</h5>`, "", "error");
        console.error(error);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    async upload(ref) {
      const input = this.$refs[ref];
      const max_size = parseInt(input.getAttribute("data-max-size"));
      const file_size = input.files[0].size;

      if (file_size > max_size) {
        const err_max_size = document.createElement("P");
        err_max_size.innerHTML = `${
          input.files[0].name
        } ('message.is_too_big')}.    ('message.max_size')}: ${max_size /
          (1024 * 1024)}MB`;
        err_max_size.classList.add("mt-1", "text-danger");
        input.parentNode.appendChild(err_max_size);
        this.form[ref] = "";
        input.value = "";
      } else {
        const dir = "cashiers";
        let formData = new FormData();

        formData.append("file", input.files[0]);
        formData.append("dir", dir);

        try {
          const response = await this.$api.utils.upload(formData);
          this.form[ref] = response.downloadPathUrl;
        } catch (error) {
          console.log(error);
        }
      }
    },
    async getCountries() {
      try {
        const response = await this.$api.partner.countries();
        this.countries = response;
        this.country_selected = response.find(
          c => c.name == this.country_selected.name
        );
        
      } catch (error) {
        console.error(error);
      }
    },
    async getProvinces() {
      try {
        const response = await this.$api.partner.provinces(
          this.country_selected.id
        );
        this.provinces = response;
        this.province_selected = response.find(
          c => c.name == this.province_selected.name
        );
      } catch (error) {
        console.error(error);
      }
    },
    async getCities() {
      try {
        const response = await this.$api.partner.cities(
          this.province_selected.id
        );
        this.cities = response;
        this.city_selected = response.find(
          c => c.name == this.city_selected.name
        );
      } catch (error) {
        console.error(error);
      }
    },
    geocodeAddress(map) {
      const vm = this;
      const geocoder = new google.maps.Geocoder();
      const address =
        this.form.address +
        " " +
        this.form.zipCode +
        " " +
        this.city_selected.name +
        " " +
        this.province_selected.name +
        " " +
        this.country_selected.name;

      vm.mapMarkers.forEach(marker => marker.setMap(null));

      geocoder.geocode(
        {
          address
        },
        (results, status) => {
          if (status === "OK") {
            map.setCenter(results[0].geometry.location);
            const marker = new google.maps.Marker({
              map,
              draggable: true,
              animation: google.maps.Animation.DROP,
              position: results[0].geometry.location
            });

            vm.mapMarkers.push(marker);

            var address_components = results[0].address_components;
            if (
              address_components[address_components.length - 1].types[0] ==
              "postal_code"
            ) {
              var zipcode =
                address_components[address_components.length - 1].long_name;
              vm.form.zipCode = zipcode;
            }

            vm.setLatLng(marker.position.lat(), marker.position.lng());

            google.maps.event.addListener(marker, "dragend", function() {
              vm.setLatLng(marker.position.lat(), marker.position.lng());
              vm.geocodePosition(marker.getPosition());
            });
          } else {
            console.log(
              "Geocode was not successful for the following reason: " + status
            );
          }
        }
      );
    },
    setLatLng(lat, lng) {
      this.form.lat = lat.toString();
      this.form.long = lng.toString();
    },
    geocodePosition(pos) {
      let geocoder = new google.maps.Geocoder();
      const vm = this;

      geocoder.geocode(
        {
          latLng: pos
        },
        function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            var address_components = results[0].address_components;
            if (
              address_components[address_components.length - 1].types[0] ==
              "postal_code"
            ) {
              var zipcode =
                address_components[address_components.length - 1].long_name;
              vm.form.zipCode = zipcode;
            }

            vm.form.address = results[0].formatted_address;
          } else {
            console.log("Cannot determine address at this location." + status);
          }
        }
      );
    },
    initMap() {
      this.map = new google.maps.Map(this.$refs.map, {
        zoom: 15,
        center: {
          lat: -6.2,
          lng: 106.816666
        },
        streetViewControl: false,
        fullscreenControl: false
      });
    },
    onChangeAddress: debounce(function() {
      this.geocodeAddress(this.map);
    }, 1000),
    onMapsAPILoaded() {
      this.initMap();
    },
    showDetail(id){
      this.$router.push({path: `/admin/partner/${id}`})
    }
  },
  async mounted() {
    await this.getCustomers();
    await this.getPartner();
    await this.getCountries();
    await this.getProvinces();
    await this.getCities();
    if (!process.server) {
      const script = document.createElement("script");
      script.onload = this.onMapsAPILoaded;
      script.type = "text/javascript";
      script.src = `https://maps.googleapis.com/maps/api/js?key=${apiKey}`;

      let isExist =
        document.querySelectorAll(`head script[src="${script.src}"]`).length >
        0;
      if (!isExist) document.head.appendChild(script);
      else this.onMapsAPILoaded();
    } else {
      this.onMapsAPILoaded();
    }
  },
  components: {
    vSelect
  }
};
</script>

<style>
#map {
  height: 300px;
}
</style>
