<template>
  <div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
      <div class="content-header row"></div>
      <div class="content-body">
        
        <Nuxt />

      </div>
    </div>
  </div>
</template>

<style></style>

<script>
export default {
  middleware: 'redirectIfAuth',
  head: {
    bodyAttrs: {
      class:
        "horizontal-layout horizontal-menu 1-column navbar-floating footer-static bg-full-screen-image blank-page blank-page",
      "data-open": "hover",
      "data-menu": "horizontal-menu",
      "data-col": "1-columns",
    },
  },
};
</script>