<template>
  <div>
    <Header />
    <Menu />

    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row"></div>
        <div class="content-body">

          <Nuxt />

        </div>
      </div>
    </div>

    <Footer/>
  </div>
</template>

<style></style>

<script>
export default {
  middleware: 'redirectIfNotAuth',
  head: {
    htmlAttrs: {
      "data-vue-meta-server-rendered": true
    },
    bodyAttrs: {
      class:
        "horizontal-layout horizontal-menu 2-columns navbar-floating footer-static",
      "data-open": "hover",
      "data-menu": "horizontal-menu",
      "data-col": "2-columns",
    },
  },
};
</script>