<template>
  <section id="page-account-settings">
    <div class="row">
      <!-- left menu section -->
      <!-- right content section -->
      <div class="col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-header row">
              <div class="col-6">
                <h2 class="content-header-title float-left mb-0">Permission</h2>
              </div>
              <div class="col-6">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <nuxt-link to="/">Dashboard</nuxt-link>
                    </li>
                    <li class="breadcrumb-item active">Permission</li>
                  </ol>
                </div>
              </div>
            </div>
            <hr />
            <div class="card-body">
              <div v-if="loading" class="text-center my-4">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <br /><br />
                {{ deleting ? 'Deleting' : 'Retrieving' }} data...
              </div>
              <p
                v-if="!loading && permissions.length == 0"
                class="text-center my-4"
              >
                No permission data
              </p>
              <table
                v-if="!loading && permissions.length > 0"
                class="table table-responsive w-100 d-block d-md-table table-striped dataex-html5-selectors"
              >
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Groupname</th>
                    <th>Slug</th>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(p, i) in permissions" :key="i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ p.groupname }}</td>
                    <td class="text-capitalize">
                      <span v-html="formatName(p.slug)"></span>
                    </td>
                    <td>{{ p.name }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
  meta: {
    permission: 'permissions:read'
  },
  data() {
    return {
      permissionId: "",
      editMode: false,
      form: {
        name: "",
        description: "",
      },
      loading_form: false,
      deleting: false,
      dev_mode: process.env.ENV == 'development',
      filter: {
        perPage: 10,
        page: 1,
      },
      permissions: [],
      modules: [],
      pagination: []
    };
  },
  computed: {
    ...mapState(["loading"]),
    // ...mapState('permissions', ["permissions", "modules", "pagination"]),
  },
  methods: {
    getPermissions() {
      let params = "order=DESC";
      if (this.filter.perPage) params += `&perPage=${this.filter.perPage}`;
      if (this.filter.page) params += `&page=${this.filter.page}`;
      return this.$api.partner.listPermission(this.filter);
    },
    async createPermission() {
      if (this.form.name === "" && this.form.description === "") {
        this.$swal(
          `<h4 class="text-weight-bold">The form column cannot be empty! please fill it out.</h4>`,
          "",
          "error"
        );
      } else {
        this.loading_form = true;
        try {
          await this.$api.permissions.create(this.form);
          // await this.$store.dispatch("permissions/produceAvailableModules");
          this.loading_form = false;
          this.$swal(
            `<h4 class="text-weight-bold">Permission ${this.form.name} has been created</h4>`,
            "",
            "success"
          );
          this.form = {
            name: "",
            description: "",
          };
          await this.getPermissions();
        } catch (error) {
          console.error(error);
          this.$swal(
            `<h4 class="text-weight-bold">Error 500</h4>`,
            "",
            "error"
          );
        }
      }
    },
    async editPermission() {
      this.loading_form = true;
      try {
        await this.$api.permissions.update(this.permissionId, this.form);
        // await this.$store.dispatch("permissions/produceAvailableModules");
        this.$swal(
          `<h4 class="text-weight-bold">Permission ${this.form.name} has been updated</h4>`,
          "",
          "success"
        );
        this.getPermissions();
        this.deActivateEditMode();
      } catch (error) {
        console.error(error);
        this.$swal(
          `<h4 class="text-weight-bold">Error 500</h4>`,
          "",
          "error"
        );
      } finally {
        this.loading_form = false;
      }
    },
    activateEditMode(id) {
      let permission_lists = this.permissions.slice();
      let permission = permission_lists.find((p) => p.id === id);
      this.form.name = permission.name;
      this.form.description = permission.description;
      this.permissionId = permission.id;
      this.editMode = true;
      window.scrollTo(0, 0);
    },
    deActivateEditMode() {
      this.form = {
        name: "",
        description: "",
      };
      this.editMode = false;
    },
    deletePermission(id) {
      let permission_lists = this.permissions.slice();
      let permission = permission_lists.find((p) => p.id === id);

      this.$swal({
        title: `<h4 class="text-weight-bold">Delete ${permission.name}</h4>`,
        text: "Confirm delete",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
      }).then(async (answer) => {
        if (answer.isConfirmed) {
          this.deleting = true;
          this.$store.commit("SET_LOADING", true);
          await this.$api.partner.getRole(permission.id);
          await this.$store.dispatch("permissions/produceAvailableModules");
          this.deleting = false;
          await this.getPermissions();
          this.$swal(
            `<h4 class="text-weight-bold">Permission ${permission.name} has been deleted</h4>`,
            "",
            "success"
          );
        }
      });
    },
    formSubmitted() {
      if (this.editMode) this.editPermission();
      else this.createPermission();
    },
    formatName(name) {
      let splittedName = name.split('.');
      let newName = `${splittedName[0].replace(/_/g, ' ')}: <strong>${splittedName[1]}</strong>`
      return newName;
    },
    goToPage(page) {
      this.filter.page = page;
      this.getPermissions();
    },
  },
  async mounted() {
    const datas = await this.getPermissions();
    this.permissions = datas.data;
    // this.$store.dispatch("permissions/produceAvailableModules");
  },
  components: {
    vSelect,
  },
};
</script>

<style>
</style>