<template>
  <section id="page-account-settings">
    <div class="row">
      <!-- left menu section -->
      <div class="col mb-2 mb-md-0 position-relative">
        <div
          class="card"
          :class="{ 'border border-primary shadow shadow-primary': editMode }"
        >
          <div class="card-content w-100" style="width:100%">
            <div class="card-body">
              <h4 class="text-weight-bold mb-2">
                Filter Trails
              </h4>
              <form @submit.prevent="formSubmitted">
                <div class="form-group">
                  <input type="text" v-model="form.searchAudit" class="form-control" />
                </div>
                <div class="row">
                  <div
                    class="col-12 d-flex flex-sm-row flex-column justify-content-between"
                  >
                    <button
                      type="button"
                      class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                      @click="handleSearch"
                    >
                      search
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-warning"
                      @click="handleReset"
                    >
                      Reset
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- right content section -->
      <div class="col-md-8">
        <div class="card">
          <div class="card-content">
            <div class="card-header row">
              <div class="col-6">
                <h2 class="content-header-title float-left mb-0">
                  Audit Trails
                </h2>
              </div>
              <div class="col-6">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <nuxt-link to="/">Dashboard</nuxt-link>
                    </li>
                    <li class="breadcrumb-item active">Audit Trails</li>
                  </ol>
                </div>
              </div>
            </div>
            <hr />
            <div class="card-body">
              <div v-if="loading" class="text-center my-4">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <br /><br />
                {{ deleting ? "Deleting" : "Retrieving" }} data...
              </div>
              <p
                v-if="!loading && auditData.length == 0"
                class="text-center my-4"
              >
                No data
              </p>

              <table
                v-if="!loading && auditData.length > 0"
                class="table table-responsive w-100 d-block d-md-table table-striped dataex-html5-selectors"
              >
                <thead>
                  <tr>
                    <th>Time</th>
                    <th>IP</th>
                    <th>Permission</th>
                    <th>Service</th>
                    <th>Table</th>
                    <th>Action</th>
                    <th>Changes</th>
                    <th>Actor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(row, index) in auditData" :key="index">
                    <td>
                      {{
                        (row._source.createdAt || row._source.updatedAt)
                          | formattedDateTime
                      }}
                    </td>
                    <td>{{ getIP(row._source.meta) }}</td>
                    <td>{{ getPermission(row._source.meta) }}</td>
                    <td>{{ row._source.serviceName }}</td>
                    <td>{{ row._source.tableName }}</td>
                    <td>
                      <div
                        :class="{
                          'chip chip-primary': true,
                          'chip-success':
                            row._source.action &&
                            row._source.action.toLowerCase() === 'create',
                          'chip-info':
                            row._source.action &&
                            row._source.action.toLowerCase() === 'update',
                          'chip-danger':
                            row._source.action &&
                            row._source.action.toLowerCase() === 'delete'
                        }"
                      >
                        <div class="chip-body">
                          <div class="chip-text">
                            {{ row._source.action }}
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn btn-sm btn-dark"
                        @click="handleSeeChanges(row._source)"
                      >
                        See Changes
                      </button>
                    </td>
                    <td>
                      <span>
                        {{ getName(row._source.Actor) }}
                      </span>
                    </td>
                  </tr>
                </tbody>
                <tfoot v-if="auditData.length > 5">
                  <tr>
                    <th>Time</th>
                    <th>IP</th>
                    <th>Permission</th>
                    <th>Service</th>
                    <th>Table</th>
                    <th>Action</th>
                    <th>Changes</th>
                    <th>Actor</th>
                  </tr>
                </tfoot>
              </table>

              <!-- Start Pagination Section -->
              <div
                class="d-flex align-items-center justify-content-between"
                v-if="!loading && auditData.length > 0"
              >
                <p>
                  Show
                  <strong>{{ pagination.totalCurrentData }}</strong>
                  audit from
                  <strong>{{ pagination.totalData }}</strong> audit
                </p>
                <nav>
                  <ul class="pagination justify-content-center mt-2">
                    <li class="page-item prev-item">
                      <a
                        class="page-link"
                        :class="{ disabled: !pagination.prev }"
                        @click.prevent="goToPage(pagination.prev)"
                        href="#"
                      ></a>
                    </li>
                    <li
                      class="page-item"
                      v-if="parseInt(pagination.currentPage) - 2 > 0"
                    >
                      <a
                        class="page-link"
                        href="#"
                        @click.prevent="
                          goToPage(parseInt(pagination.currentPage) - 2)
                        "
                      >
                        {{ parseInt(pagination.currentPage) - 2 }}</a
                      >
                    </li>
                    <li
                      class="page-item"
                      v-if="parseInt(pagination.currentPage) - 1 > 0"
                    >
                      <a
                        class="page-link"
                        href="#"
                        @click.prevent="
                          goToPage(parseInt(pagination.currentPage) - 1)
                        "
                        >{{ parseInt(pagination.currentPage) - 1 }}</a
                      >
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">{{
                        pagination.currentPage
                      }}</a>
                    </li>
                    <li
                      class="page-item"
                      v-if="
                        parseInt(pagination.currentPage) + 1 <=
                          pagination.totalPage
                      "
                    >
                      <a
                        class="page-link"
                        href="#"
                        @click.prevent="
                          goToPage(parseInt(pagination.currentPage) + 1)
                        "
                        >{{ parseInt(pagination.currentPage) + 1 }}</a
                      >
                    </li>
                    <li
                      class="page-item"
                      v-if="
                        parseInt(pagination.currentPage) + 2 <=
                          pagination.totalPage
                      "
                    >
                      <a
                        class="page-link"
                        href="#"
                        @click.prevent="
                          goToPage(parseInt(pagination.currentPage) + 2)
                        "
                        >{{ parseInt(pagination.currentPage) + 2 }}</a
                      >
                    </li>
                    <li class="page-item next-item">
                      <a
                        class="page-link"
                        :class="{ disabled: !pagination.next }"
                        @click.prevent="goToPage(pagination.next)"
                        href="#"
                      ></a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- End Pagination Section -->
            </div>
          </div>
        </div>
      </div>
      <Modal size="large" :show.sync="showModal">
        <div class="p-2">
          <div class="row">
            <div
              v-if="modalContent && modalContent.dataOriginal"
              class="col-md-6"
              :class="{
                'col-md-12': !(modalContent && modalContent.dataChanged)
              }"
            >
              <h4>Old data</h4>
              <pre class="alert alert-danger mt-2">{{
                modalContent.dataOriginal
              }}</pre>
            </div>
            <div
              v-if="modalContent && modalContent.dataChanged"
              class="col-md-6"
              :class="{
                'col-md-12': !(modalContent && modalContent.dataOriginal)
              }"
            >
              <h4>New data</h4>
              <pre class="alert alert-success mt-2">{{
                modalContent.dataChanged
              }}</pre>
            </div>
          </div>
        </div>
      </Modal>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import Modal from "@/components/Modal";

export default {
  meta: {
    permission: "roles:read"
  },
  data() {
    return {
      showModal: false,
      modalContent: null,
      roleId: "",
      editMode: false,
      form: {
        searchAudit: ""
      },
      loading_form: false,
      deleting: false,
      filter: {
        perPage: 50,
        page: 1
      },
      pagination: {
      },
      auditData: []
    };
  },
  computed: {
    ...mapState(["loading"])
  },
  async mounted() {
    await this.getAuditTrails();
  },
  methods: {
    getName(data) {
      let name = "";
      if (data && (data.firstName || data.lastName)) {
        name =
          data.firstName && data.lastName
            ? `${data.firstName} ${data.lastName}`
            : data.firstName || data.lastName;
      }
      return name;
    },
    getIP(data) {
      let ip = "";
      if (data && data.ip) ip = data.ip;
      return ip;
    },
    getPermission(data) {
      let permission = "";
      if (data && data.permission) permission = data.permission;
      return permission;
    },

    async getAuditTrails(params) {
      const payload = {
        ...params,
        page: this.filter.page,
        perPage: this.filter.perPage
      }
      let responseAudit = await this.$api.partner.getAuditTrails(payload);
      this.auditData = responseAudit.data.hits.hits;
      this.pagination = responseAudit.pagination;
    },
    handleReset() {
      this.form.searchAudit = "";
      this.$refs.auditTrails.getList();
    },
    handleSearch() {
      this.$refs.auditTrails.getList({ text: this.form.searchAudit });
    },

    formSubmitted() {
      this.$refs.auditTrails.getList({ text: this.form.searchAudit });
    },
    goToPage(page) {
      this.filter.page = page;
      this.getAuditTrails();
    },
    handleSeeChanges(source) {
      this.showModal = true;
      this.modalContent = source;
    }
  },
  components: {
    vSelect
  }
};
</script>

<style></style>
