<template>
  <section id="page-account-settings">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <section id="basic-datatable">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body pt-0">
                      <form>
                        <p class="text-muted">Input Black List Account Data</p>
                        <div class="row justify-content-center">
                          <div class="col-3">
                            <div class="form-group">
                              <div class="controls">
                                <label for="fullName">Full Name</label>
                                <input
                                  type="fullName"
                                  class="form-control"
                                  required
                                  v-model="form.fullName"
                                />
                              </div>
                            </div>

                            <div class="form-group">
                              <label for="account-company">NIK</label>
                              <input
                                type="number"
                                class="form-control"
                                required
                                v-model="form.nik"
                              />
                            </div>

                            <div class="form-group">
                              <label for="account-company"
                                >Upload picture</label
                              >
                              <input
                                type="file"
                                class="form-control"
                                data-max-size="1048576"
                                accept="image/jpeg,image/png,application/pdf"
                                ref="uploadFile"
                                required
                              />
                            </div>
                          </div>

                          <div class="col-1"></div>

                          <div class="col-3">
                            <div class="form-group">
                              <label for="account-company"
                                >Phone Number</label
                              >
                              <input
                                type="number"
                                class="form-control"
                                required
                                v-model="form.phoneNumber"
                              />
                            </div>

                            <div class="form-group">
                              <label for="account-company">Reason</label>
                              <v-select
                                class="v-select-control"
                                label="name"
                                :options="reason"
                                v-model="form.reason"
                              ></v-select>
                            </div>

                            <div class="form-group">
                              <label for="account-company"
                                >Others</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                required
                                v-model="form.otherReason"
                                :disabled="form.reason !== 'Others'"
                              />
                            </div>

                            <!-- <div class="form-group">
                              <label for="account-company"
                                >Remarks</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                required
                                v-model="form.remarks"
                              />
                            </div> -->
                          </div>
                        </div>
                        
                        <div
                          class="d-flex flex-sm-row flex-column align-items-center justify-content-between"
                        >
                          <div style="margin:auto">
                            <button
                              type="submit"
                              class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                              @click.prevent="upload"
                            >
                              <span v-if="!loading">Submit</span>
                              <span
                                v-else
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                              ></span>
                            </button>
                            <button
                              type="reset"
                              class="btn btn-outline-warning"
                               @click.prevent="backToList()"
                            >
                              Cancel
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { debounce } from "lodash";
import axios from 'axios'

export default {
  data() {
    return {
      reason: ["Tampang tidak meyakinkan", "Others"],
      form: {
        fullName: "",
        nik: "",
        photo: "",
        phoneNumber: "",
        reason: "",
        otherReason: "",
        bankAccNumber: "",
        bankName: ""
        // remarks: "",
      },
    };
  },
  computed: {
    ...mapState(["loading"])
  },
  methods: {
    backToList() {
      this.$router.push("/listOfBlacklist");
    },
    async upload() {
      const input = this.$refs.uploadFile.files[0];
      console.log(input)
      let form = new FormData();
      form.append("photo", input);
      form.append("msisdn", this.form.phoneNumber);
      form.append("fullName", this.form.fullName);
      form.append("nik", this.form.nik);
      form.append("bankAccNumber", this.form.bankAccNumber);
      form.append("bankName", this.form.bankName);

      if (this.form.reason !== "Others") {
        form.append("reason", this.form.reason);
      } else {
        form.append("reason", this.form.otherReason);
      }

      axios.post('http://localhost:3001/ekycPortal/addIndividualBlacklist', form, {
        headers: {
            "Content-Type": `multipart/form-data`
        },
      })
      .then(response => this.backToList())
      .catch(error => console.log(error))
    },
  },
  components: {
    vSelect,
  }
};
</script>

<style>
</style>