<template>
  <forgot-password>
    <form action="index.html">
      <div class="form-label-group">
        <input type="email" id="inputEmail" class="form-control" placeholder="Email" />
        <label for="inputEmail">Email</label>
      </div>
    </form>
    <div class="float-md-left d-block mb-1">
      <nuxt-link to="/login" class="btn btn-outline-primary btn-block px-75">Back to Login</nuxt-link>
    </div>
    <div class="float-md-right d-block mb-1">
      <nuxt-link to="/reset_password" class="btn btn-primary btn-block px-75">Recover Password</nuxt-link>
    </div>
  </forgot-password>
</template>

<script>
import ForgotPassword from "@/components/auth/ForgotPassword";

export default {
  layout: "blank",
  components: {
    ForgotPassword,
  },
};
</script>

<style></style>