<template>
<section id="page-account-settings">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <!-- <div
                    v-show="this.show == false"
                    class="text-center my-4"
                >
                    <p>Loading.</p>
                </div>
                
                <div
                    v-show="data == [] && this.show == true"
                    class="text-center my-4"
                >
                    <p>No data found.</p>
                </div>

                <div
                    class="table-responsive"
                    v-show="data !== [] && this.show == true"
                > -->
                <div
                    class="table-responsive"
                >
                    <table 
                        class="table table-striped dataex-html5-selectors" id="blacklistTable"
                        style="min-height:200px"
                    >
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Phone Number</th>
                                <th>NIK</th>
                                <th>Full Name</th>
                                <th>Status</th>
                                <th>User</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</template>

<script>
    export default {
        name: 'app',
        data() { 
            return {
                show: false,
                data: 101010
            }
        },
        mounted() {
            var dtRef = $('#blacklistTable').DataTable({
                    "dom": '<"top"f>rt<"float-right"p>',
                    processing: true,
                    searching: { regex: true },
                    pageLength: 10,
                    columns: [
                        { data: "id" },
                        { data: "msisdn" },
                        { data: "nik" },
                        { data: "fullName" },
                        { data: "status" },
                        { data: "reason" },
                        { data: "requestId",
                            render: function(data, type, row, meta){
                                return `<div class='dropdown'><button class='btn btn-outline-primary btn-sm dropdown-toggle mr-1 waves-effect waves-light text-capitalize' type='button'data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>Action</button><div class='dropdown-menu' x-placement='bottom-start' style='position: absolute; will-change: transform;top: 0px;left: 0px;transform: translate3d(0px, 38px, 0px);'>
                                    <a href="/unblacklist" :key="test" class="dropdown-item">View</a>
                                    <a class="unblacklistClass">Unblacklist</a>
                                    </div>`
                        }}
                    ],
                    ajax: {
                        type: "GET",
                        url: "http://127.0.0.1:3001/ekycPortal/blacklist?page=0&size=10&sort=fullName&order=asc&search=",
                        dataType: "json",
                        dataSrc: "data",
                    }
                });

            dtRef.on('order.dt search.dt', function () {
                dtRef.column(0, {search:'applied', order:'applied'}).nodes().each(function(cell, i){
                    cell.innerHTML = i+1;
                });
            }).draw();

            const self = this
            dtRef.on('click', '.unblacklistClass', function(){
                const cell = dtRef.cell($(this).closest("td"));
                self.performUnBlackList(cell.data());
            });
        },
        methods:{
            performUnBlackList(data){
                this.$router.push({name:'unblacklist', params:{id:data}})
            }
        },
    }
</script>

<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
        display: none;
    }

    a:not([href]):not([tabindex]) {
        color: inherit;
        text-decoration: none;
        padding: 0.714rem 1.428rem;
    }
</style>