<template>
  <reset-password>
    <form>
      <fieldset class="form-label-group">
        <input
          type="password"
          class="form-control"
          id="user-password"
          placeholder="Password"
          required
        />
        <label for="user-password">Password</label>
      </fieldset>

      <fieldset class="form-label-group">
        <input
          type="password"
          class="form-control"
          id="user-confirm-password"
          placeholder="Confirm Password"
          required
        />
        <label for="user-confirm-password">Confirm Password</label>
      </fieldset>
      <div class="row pt-2">
        <div class="col-12 col-md-6 mb-1">
          <nuxt-link to="/login" class="btn btn-outline-primary btn-block px-0">Login</nuxt-link>
        </div>
        <div class="col-12 col-md-6 mb-1">
          <button type="submit" class="btn btn-primary btn-block px-0">Reset</button>
        </div>
      </div>
    </form>
  </reset-password>
</template>

<script>
import ResetPassword from "@/components/auth/ResetPassword";

export default {
  layout: "blank",
  components: {
    ResetPassword,
  },
};
</script>

<style></style>