<template>
  <section id="page-account-settings">
    <div class="card">
      <div class="card-content">
        <div class="card-body">
          <section id="basic-datatable">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body pt-0">
                      <form>
                        <p class="text-muted">Black List Account Data</p>
                        <div style="text-align: center;">
                          <img v-bind:src=form.photo
                            contain
                            height="100px"
                          >
                          {{form.fullName}}
                        </div>
                        <div class="row justify-content-center">
                          <div class="col-3">
                            <div class="form-group">
                              <label for="account-company">NIK</label>
                              <input
                                type="number"
                                class="form-control"
                                required
                                v-model="form.nik"
                                :disabled="true"
                              />
                            </div>
                          </div>

                          <div class="col-1"></div>

                          <div class="col-3">
                            <div class="form-group">
                              <label for="account-company"
                                >Phone Number</label
                              >
                              <input
                                type="number"
                                class="form-control"
                                required
                                v-model="form.phoneNumber"
                                :disabled="true"
                              />
                            </div>

                            <div class="form-group">
                              <label for="account-company">Reason</label>
                              <v-select
                                class="v-select-control"
                                label="name"
                                :options="reason"
                                v-model="form.reason"
                                :disabled="true"
                              ></v-select>
                            </div>

                            <div class="form-group">
                              <label for="account-company"
                                >Others</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                required
                                v-model="form.otherReason"
                                :disabled="true"
                              />
                            </div>
                          </div>
                        </div>
                        
                        <div
                          class="d-flex flex-sm-row flex-column align-items-center justify-content-between"
                        >
                          <div style="margin:auto">
                            <button
                              type="submit"
                              class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                              @click.prevent="performDeletion"
                            >
                              <span v-if="!loading">Unblacklist</span>
                              <span
                                v-else
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                              ></span>
                            </button>
                            <button
                              type="reset"
                              class="btn btn-outline-warning"
                               @click.prevent="backToList()"
                            >
                              Cancel
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { debounce } from "lodash";
import axios from 'axios'


export default {
  data() {
    return {
      reason: ["Tampang tidak meyakinkan", "Others"],
      form: {
        fullName: "",
        nik: "",
        photo: "",
        phoneNumber: "",
        reason: "",
        otherReason: "",
        requestId: "",
      },
    };
  },
  created () {
    console.log(this.$router.history.current.params.id)
    axios
      .get('http://localhost:3001/ekycPortal/blacklistDetail?requestId=' + this.$router.history.current.params.id)
      .then(response => {
        this.form.fullName = response.data.data.fullName
        this.form.nik = response.data.data.nik
        this.form.photo = response.data.data.photo
        this.form.phoneNumber = response.data.data.msisdn
        this.form.requestId = response.data.data.requestId
        
        let reason = response.data.data.reason

        if (this.reason.includes(reason)) {
          this.form.reason = reason
        } else {
          this.form.reason = "Others"
          this.form.otherReason = reason
        }
      })
  },
  computed: {
    ...mapState(["loading"])
  },
  methods: {
    backToList() {
      this.$router.push("/listOfBlacklist");
    },
    async performDeletion() {
      await axios.delete('http://localhost:3001/ekycPortal/unblacklist', {
        headers: {
          "Content-Type": `application/json`
        },
        data: {
          "requestId": this.$router.history.current.params.id
        }
      })
      .then(response => this.backToList())
      .catch(error => error)
    },
  },
  components: {
    vSelect,
  }
};
</script>

<style>
</style>