<template>
  <VueRecaptcha
    class="captcha"
    :sitekey="siteKey"
    :loadRecaptchaScript="true"
    @verify="handleVerify"
  />
</template>

<script>
const { RECAPTCHA_SITE_KEY } = process.env;

export default {
  name: "Captcha",
  data() {
    return {
      siteKey: RECAPTCHA_SITE_KEY
    };
  },
  components: {
    VueRecaptcha: () => import('vue-recaptcha'),
  },
  methods: {
    handleVerify(response) {
      if (response) this.$emit('onSuccess');
    }
  },
};
</script>