<template>
  <section class="d-flex justify-content-center flex-column align-items-center h-100vh">
    <!-- <img src="~/assets/images/logo/RemitPro-Dark.png" alt="RemitPro" height="48" class="mb-4 mt-3" /> -->
    <div class="col-xl-7 col-10">
      <div class="card bg-authentication rounded-0 mb-0 w-100">
        <div class="row m-0">
          <div class="col-lg-6 d-lg-block d-none text-center align-self-center p-0">
            <img src="~/assets/images/pages/reset-password.png" alt="branding logo" />
          </div>
          <div class="col-lg-6 col-12 p-0">
            <div class="card rounded-0 mb-0 px-2">
              <div class="card-header pb-1">
                <div class="card-title">
                  <h4 class="mb-0">Reset Password</h4>
                </div>
              </div>
              <p class="px-2">Please enter your new password.</p>
              <div class="card-content">
                <div class="card-body pt-1">
                    
                    <slot></slot>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
    name: 'ResetPassword'
};
</script>

<style>
.h-100vh {
  height: 100vh;
}
</style>