<template>
  <section id="page-account-settings">
    <div class="card">
      <div class="card-content">
        <div class="card-header row">
          <div class="col-6">
            <h2 class="content-header-title float-left mb-0 mr-2">Edit user</h2>
          </div>
          <div class="col-6">
            <div class="float-right">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <nuxt-link to="/admin">Dashboard</nuxt-link>
                </li>
                <li class="breadcrumb-item">
                  <nuxt-link to="/admin/users_roles/users">User</nuxt-link>
                </li>
                <li class="breadcrumb-item active">Edit</li>
              </ol>
            </div>
          </div>
        </div>
        <hr />
        <div class="card-body">
          <section id="basic-datatable">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body pt-0">

                      <div v-if="loading" class="text-center my-4">
                        <div class="spinner-border" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        <br /><br />
                        Retrieving data...
                      </div>

                      <form v-else @submit.prevent="updateUser">
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="email">First name</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  required
                                  v-model="form.firstName"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="company-name">Last name</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  required
                                  v-model="form.lastName"
                                />
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="company-username">Username</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  required
                                  v-model="form.username"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <div class="controls">
                                <label for="email">Email</label>
                                <input
                                  type="email"
                                  class="form-control"
                                  required
                                  v-model="form.email"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group">
                              <div class="controls">
                                <label for="company-name">Phone number</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  required
                                  v-model="form.mobilenumber"
                                />
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div
                            class="col-12 d-flex flex-sm-row flex-column justify-content-end"
                          >
                            <button
                              type="submit"
                              class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                            >
                              <span v-if="!loading_save">Save</span>
                              <span
                                v-else
                                class="spinner-border spinner-border-sm"
                                role="status"
                                aria-hidden="true"
                              ></span>
                            </button>
                            <nuxt-link
                              :to="{ path: '/admin/users_roles/users' }"
                              class="btn btn-outline-warning"
                            >
                              Cancel
                            </nuxt-link>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
  meta: {
    permission: 'users:write'
  },
  data() {
    return {
      id: this.$route.params.id,
      form: {
        firstName: "",
        lastName: "",
        username: "",
        email: "",
        mobilenumber: "",
      },
      roles: [],
      loading_save: false
    };
  },
  computed: {
    ...mapState(["loading"]),
  },
  methods: {
    async getUser() {
      this.$store.commit("SET_LOADING", true);

      try {
        const user = await this.$api.partner.getUser(this.id);
        this.form = {
          firstName: user.firstName,
          lastName: user.lastName,
          username: user.username,
          email: user.email,
          mobilenumber: user.mobilenumber,
        };
      } catch (error) {
        console.error(error);
      } finally {
        this.$store.commit("SET_LOADING", false);
      }
    },
    async updateUser() {
      this.loading_save = true;

      try {
        const response = await this.$api.partner.updateUser(this.id, this.form);
        this.$swal(
          `<h4 class="text-weight-bold">User ${this.form.firstName} has been updated!</h4>`,
          "",
          "success"
        );
        this.$router.push("/admin/users_roles/users");
      } catch (error) {
        this.$swal(
          `<h5 class="text-weight-bold">Error 500</h5>`,
          "",
          "error"
        );
        console.error(error);
      } finally {
        this.loading_save = false;
      }
    },
  },
  mounted() {
    this.getUser();
  },
  components: {
    vSelect,
  },
};
</script>

<style></style>
