<template>
  <section class="row flexbox-container">
    <div class="col-xl-7 col-md-8 col-12 d-flex justify-content-center">
      <div class="card auth-card bg-transparent shadow-none rounded-0 mb-0 w-100">
        <div class="card-content">
          <div class="card-body text-center">
            <img
              src="~/assets/images/pages/404.png"
              class="img-fluid align-self-center"
              alt="branding logo"
            />
            <h1 class="font-large-2 my-1">404 - Page Not Found!</h1>
            <p class="p-2">
              paraphonic unassessable foramination Caulopteris worral Spirophyton encrimson esparcet aggerate chondrule
              restate whistler shallopy biosystematy area bertram plotting unstarting quarterstaff.
            </p>
            <button class="btn btn-primary btn-lg" @click="$router.go(-1)">Go Back</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template><script>
export default {
  name: "error-404",
  props: {
    error: {
      type: Object,
      default: () => {},
    },
  },
};
</script>