<template>
  <section id="page-account-settings">
    <div class="row">
      <!-- left menu section -->
      <div class="col mb-2 mb-md-0 position-relative">
        <div
          class="card"
          :class="{ 'border border-primary shadow shadow-primary': editMode }"
        >
          <div class="card-content w-100" style="width:100%">
            <div class="card-body">
              <h4 class="text-weight-bold mb-2">
                {{ editMode ? "Edit" : "New" }} {{ "Role" }}
              </h4>
              <form @submit.prevent="formSubmitted">
                <div class="form-group">
                  <label for="role">Name</label>
                  <input type="text" v-model="form.name" class="form-control" />
                </div>
                <div class="row">
                  <div
                    class="col-12 d-flex flex-sm-row flex-column justify-content-between"
                  >
                    <button
                      v-if="!editMode"
                      type="submit"
                      class="btn btn-primary btn-block mb-1 mb-sm-0"
                    >
                      <span v-if="!loading_form">Add</span>
                      <span
                        v-else
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                      ></span>
                    </button>
                    <template v-else>
                      <button
                        type="submit"
                        class="btn btn-primary mr-sm-1 mb-1 mb-sm-0"
                      >
                        <span v-if="!loading_form">Save</span>
                        <span
                          v-else
                          class="spinner-border spinner-border-sm"
                          role="status"
                          aria-hidden="true"
                        ></span>
                      </button>
                      <button
                        type="reset"
                        @click="deActivateEditMode"
                        class="btn btn-outline-warning text-capitalize"
                      >
                        Cancel
                      </button>
                    </template>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- right content section -->
      <div class="col-md-8">
        <div class="card">
          <div class="card-content">
            <div class="card-header row">
              <div class="col-6">
                <h2 class="content-header-title float-left mb-0">Role</h2>
              </div>
              <div class="col-6">
                <div class="float-right">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <nuxt-link to="/">Dashboard</nuxt-link>
                    </li>
                    <li class="breadcrumb-item active">Role</li>
                  </ol>
                </div>
              </div>
            </div>
            <hr />
            <div class="card-body">
              <div v-if="loading" class="text-center my-4">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
                <br /><br />
                {{ deleting ? "Deleting" : "Retrieving" }} data...
              </div>
              <p v-if="!loading && roles.length == 0" class="text-center my-4">
                No role data
              </p>

              <div class="row" v-if="!loading && roles.length > 1">
                <div class="col-6 d-flex align-items-center">
                  <fieldset class="form-group d-flex align-items-center">
                    <span>Show</span>
                    <select
                      class="form-control mx-1"
                      v-model="filter.perPage"
                      @change="getRoles(false)"
                    >
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="25">25</option>
                    </select>
                    <span>Entries</span>
                  </fieldset>
                </div>
              </div>

              <table
                v-if="!loading && roles.length > 0"
                class="table table-responsive w-100 d-block d-md-table table-striped dataex-html5-selectors"
              >
                <thead>
                  <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(p, i) in roles" :key="i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ p.name }}</td>
                    <td>
                      <nuxt-link
                        :to="{
                          path: `/admin/users_roles/roles/assign_permissions/${p.id}`
                        }"
                        class="btn btn-outline-primary btn-sm"
                      >
                        Assign Permission
                      </nuxt-link>
                      <button
                        type="button"
                        @click="activateEditMode(p.id)"
                        class="btn btn-outline-info btn-sm text-capitalize"
                      >
                        Edit
                      </button>
                      <button
                        type="button"
                        @click="deleteRole(p.id)"
                        class="btn btn-outline-danger btn-sm text-capitalize"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot v-if="roles.length > 5">
                  <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Action</th>
                  </tr>
                </tfoot>
              </table>

              <div
                class="d-flex align-items-center justify-content-between"
                v-if="!loading && roles.length > 0"
              >
                <p>
                  Show
                  <strong>{{ pagination.totalCurrentData }}</strong>
                  roles from
                  <strong>{{ pagination.totalData }}</strong> roles
                </p>
                <nav>
                  <ul class="pagination justify-content-center mt-2">
                    <li class="page-item prev-item">
                      <a
                        class="page-link"
                        :class="{ disabled: !pagination.prev }"
                        @click.prevent="goToPage(pagination.prev)"
                        href="#"
                      ></a>
                    </li>
                    <li
                      class="page-item"
                      v-if="parseInt(pagination.currentPage) - 2 > 0"
                    >
                      <a
                        class="page-link"
                        href="#"
                        @click.prevent="
                          goToPage(parseInt(pagination.currentPage) - 2)
                        "
                      >
                        {{ parseInt(pagination.currentPage) - 2 }}</a
                      >
                    </li>
                    <li
                      class="page-item"
                      v-if="parseInt(pagination.currentPage) - 1 > 0"
                    >
                      <a
                        class="page-link"
                        href="#"
                        @click.prevent="
                          goToPage(parseInt(pagination.currentPage) - 1)
                        "
                        >{{ parseInt(pagination.currentPage) - 1 }}</a
                      >
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">{{
                        pagination.currentPage
                      }}</a>
                    </li>
                    <li
                      class="page-item"
                      v-if="
                        parseInt(pagination.currentPage) + 1 <=
                          pagination.totalPage
                      "
                    >
                      <a
                        class="page-link"
                        href="#"
                        @click.prevent="
                          goToPage(parseInt(pagination.currentPage) + 1)
                        "
                        >{{ parseInt(pagination.currentPage) + 1 }}</a
                      >
                    </li>
                    <li
                      class="page-item"
                      v-if="
                        parseInt(pagination.currentPage) + 2 <=
                          pagination.totalPage
                      "
                    >
                      <a
                        class="page-link"
                        href="#"
                        @click.prevent="
                          goToPage(parseInt(pagination.currentPage) + 2)
                        "
                        >{{ parseInt(pagination.currentPage) + 2 }}</a
                      >
                    </li>
                    <li class="page-item next-item">
                      <a
                        class="page-link"
                        :class="{ disabled: !pagination.next }"
                        @click.prevent="goToPage(pagination.next)"
                        href="#"
                      ></a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from "vuex";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
  meta: {
    permission: "roles:read"
  },
  data() {
    return {
      roles: [],
      roleId: "",
      editMode: false,
      form: {
        name: ""
      },
      loading_form: false,
      deleting: false,
      filter: {
        perPage: 10,
        page: 1
      },
      pagination: {
        total: 1,
        currentData: 2,
        totalData: 2,
        next: null,
        prev: null,
        page: 1,
        current: 1
      }
    };
  },
  computed: {
    ...mapState(["loading"])
  },
  methods: {
    async getRoles() {
      this.$store.commit("SET_LOADING", true);
      let response = await this.$api.partner.getRoleList(this.filter);

      this.$store.commit("SET_LOADING", false);
      this.roles = response.data;
      this.pagination = response.pagination;
    },
    async createRole() {
      if (this.form.name === "") {
        this.$swal(`<h4 class="text-weight-bold">Empty form</h4>`, "", "error");
      } else {
        this.loading_form = true;
        try {
          await this.$api.partner.createRole({
            name: this.form.name,
            permissions: []
          });
          this.$swal(
            `<h4 class="text-weight-bold">Role ${this.form.name} has been created</h4>`,
            "",
            "success"
          );
          this.getRoles();
          this.form = {
            name: ""
          };
        } catch (error) {
          console.error(error);
          this.$swal(
            `<h4 class="text-weight-bold"> Error 500</h4>`,
            "",
            "error"
          );
        } finally {
          this.loading_form = false;
        }
      }
    },
    async editRole() {
      this.loading_form = true;
      try {
        await this.$api.partner.updateRole(this.roleId, this.form);
        this.$swal(
          `<h4 class="text-weight-bold">Role ${this.form.name} has been updated</h4>`,
          "",
          "success"
        );
        this.getRoles();
        this.deActivateEditMode();
      } catch (error) {
        console.error(error);
        this.$swal(`<h4 class="text-weight-bold">Error 500</h4>`, "", "error");
      } finally {
        this.loading_form = false;
      }
    },
    activateEditMode(id) {
      let role_lists = this.roles.slice();
      let role = role_lists.find(p => p.id === id);
      this.form.name = role.name;
      this.roleId = role.id;
      this.editMode = true;
      window.scrollTo(0, 0);
    },
    deActivateEditMode() {
      this.form = {
        name: ""
      };
      this.editMode = false;
    },
    deleteRole(id) {
      let role_lists = this.roles.slice();
      let role = role_lists.find(p => p.id === id);

      this.$swal({
        title: `<h4 class="text-weight-bold">Delete ${role.name}</h4>`,
        text: "Confirm delete",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33"
      }).then(async answer => {
        if (answer.isConfirmed) {
          this.deleting = true;
          this.$store.commit("SET_LOADING", true);
          await this.$api.partner.deleteRole(role.id);
          this.deleting = false;
          await this.getRoles();
          this.$swal(
            `<h4 class="text-weight-bold">Role ${role.name} has been deleted</h4>`,
            "",
            "success"
          );
        }
      });
    },
    formSubmitted() {
      if (this.editMode) this.editRole();
      else this.createRole();
    },
    goToPage(page) {
      this.filter.page = page;
      this.getRoles(true);
    }
  },
  async mounted() {
    await this.getRoles();
  },
  components: {
    vSelect
  }
};
</script>

<style></style>
